<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="MuiGrid-root MuiGrid-container">
  <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-12">
    <div class="MuiBox-root jss448 jss80">
      <div class="MuiBox-root jss468">
        <h1 class="MuiTypography-root jss81 jss156 MuiTypography-h1 MuiTypography-colorTextPrimary"
            customcolor="red">
          Những lưu ý quan trọng khi huỷ vé máy bay
        </h1>
      </div>
      <div class="MuiBox-root jss473 jss472 jss83">
        <p style="text-align: justify;">
          <em>
            <strong>
              Trường hợp khách hàng sau khi mua vé xong lại không thể thực hiện
              được chuyến bay như dự định không phải hiếm gặp, thường là do
              gặp phải các vấn đề công việc hoặc sự cố bất ngờ. Vậy khi có
              nhu cầu cần hủy vé máy bay thì khách hàng phải lưu ý những gì, hãy cùng
              Vietjet tìm câu trả lời qua bài viết này nhé.
            </strong>
          </em>
        </p>
        <h2 style="text-align: justify;">
          1. Huỷ vé máy bay có được hoàn tiền không?
        </h2>
        <p style="text-align: justify;">
          Có nhiều lý do khiến khách hàng phải lựa chọn hủy vé máy bay. Điều này
          có thể xuất phát từ phía khách hàng hoặc từ hãng bay. Trong từng trường
          hợp hãng hàng không Vietjet sẽ có cách giải quyết khác nhau đối
          với việc hủy vé máy bay của hành khách.
        </p>
        <h3 style="text-align: justify;">
          1.1 Lý do hủy vé Vietjet từ khách hàng
        </h3>
        <p style="text-align: justify;">
          Vietjet
          <strong>
            KHÔNG HỖ TRỢ
          </strong>
          các trường hợp yêu cầu hủy vé khi lý do hủy vé đến từ khách
          hàng, ví dụ như:
        </p>
        <ul>
          <li style="text-align: justify;">
            Bận công việc đột xuất.
          </li>
          <li style="text-align: justify;">
            Gặp sự cố bất ngờ.
          </li>
          <li style="text-align: justify;">
            Muốn đổi sang chặng bay khác hoặc không muốn bay nữa vì lý do
            cá nhân.
          </li>
          <li style="text-align: justify;">
            … .
          </li>
        </ul>
        <p style="text-align: justify;">
          Trong trường hợp khách hàng muốn
          <strong>
            ĐỔI
          </strong>
          vé máy bay, Vietjet sẽ hỗ trợ tùy theo hạng vé:
        </p>
        <ul>
          <li style="text-align: justify;">
            <strong>
              Hành khách mua vé SkyBoss và SkyBoss Business:
            </strong>
            Được yêu cầu hoàn bảo lưu định danh tiền vé với điều kiện hủy
            chỗ đã đặt trước 03 tiếng so với giờ khởi hành dự kiến, hoặc
            thông báo hủy chỗ qua tổng đài Vietjet trễ nhất là 72 tiếng sau
            giờ khởi hành dự kiến.
          </li>
          <li style="text-align: justify;">
            <strong>
              Hành khách mua vé Deluxe và Eco:
            </strong>
            Để được bảo lưu tiền vé, hành khách cần thông báo với Vietjet trước ít
            nhất 24 giờ so với giờ khởi hành chặng bay đầu tiên. Bên cạnh đó, bảo lưu
            tiền vé trong vòng tối đa 180 ngày kể từ ngày khởi hành của chuyến bay.
            Trong trường hợp không thông báo trước, hành khách sẽ bị hủy vé máy
            bay và không được hoàn lại toàn bộ tiền vé.
          </li>
        </ul>
        <p style="text-align: center;">
          <img src="https://vj-prod-website-cms.s3.ap-southeast-1.amazonaws.com/boardingpass1-1666210018432.png"
               alt="huỷ vé máy bay có được hoàn tiền không" width="750" height="1333">
        </p>
        <p style="text-align: center;">
          <em>
            Khách hàng cần cân nhắc kỹ lưỡng trước khi hủy vé máy bay
          </em>
        </p>
        <p style="text-align: center; line-height: 0.5;">
          &nbsp;
        </p>
        <p style="text-align: center; line-height: 0.5;">
          &nbsp;
        </p>
        <p style="text-align: justify;">
          <strong>
            &gt;&gt; Xem thêm:
          </strong>
          <a href="https://www.vietjetair.com/vi/news/cam-nang-du-lich-1640944806320/thong-tin-cac-hang-ghe-tren-may-bay-vietjet-thong-tin-gia-ve-uu-dai-dac-biet-1663006020728"
             target="_blank" rel="noopener">
            Các hạng ghế trên máy bay: Đặc điểm, giá vé và ưu đãi
          </a>
        </p>
        <h3 style="text-align: justify;">
          1.2 Lý do hủy vé Vietjet từ hãng bay&nbsp;&nbsp;
        </h3>
        <p style="text-align: justify;">
          Với lý do chậm hoặc hủy chuyến, Vietjet sẽ đưa ra các phương án hỗ trợ
          để hành khách có thể chọn lựa:
        </p>
        <ul>
          <li style="text-align: justify;">
            Chuyển sang chuyến bay cùng chặng gần nhất (nếu còn chỗ).
          </li>
          <li style="text-align: justify;">
            Chuyển sang các chuyến bay cùng chặng bất kỳ (nếu còn chỗ) nhưng không
            muộn sớm/muộn hơn 72 tiếng so với giờ khởi hành dự kiến.
          </li>
          <li style="text-align: justify;">
            Chuyển sang chuyến bay khác có hành trình tương đương để hành khách có
            thể đến được điểm đến trên hành trình.
          </li>
          <li style="text-align: justify;">
            Bảo lưu giá trị vé trong vòng 180 ngày.
          </li>
        </ul>
        <p style="text-align: center;">
          <em>
            <img src="https://vj-prod-website-cms.s3.ap-southeast-1.amazonaws.com/huyvemaybay2-1666210130155.png"
                 alt="Hủy vé máy bay Vietjet" width="750" height="502">
          </em>
        </p>
        <p style="text-align: center;">
          <em>
            Trường hợp hủy vé Vietjet do điều kiện thời tiết, an ninh, kĩ
            thuật,... hành khách sẽ được hoàn lại toàn bộ tiền vé, không
            thêm phí phát sinh.
          </em>
        </p>
        <h3 style="text-align: justify;">
          1.3. Kết luận: Vậy huỷ vé máy bay có được hoàn tiền không?
        </h3>
        <p style="text-align: justify;">
          Tùy theo hạng vé mà hành khách sẽ được hoàn bảo lưu định danh tiền
          vé nếu thông báo trước hủy vé máy bay với Vietjet. Bên cạnh đó, Vietjet
          cũng hỗ trợ thay đổi chặng bay, nâng hạng vé, thay đổi tên trên vé…. nhằm
          giúp hành khách có chuyến bay thoải mái nhất.&nbsp;
        </p>
        <p style="text-align: justify; line-height: 0.5;">
          &nbsp;
        </p>
        <p style="text-align: justify;">
          <strong>
            &gt;&gt; Xem chi tiết điều kiện
          </strong>
          vé của Vietjet
          <a href="https://www.vietjetair.com/vi/pages/de-co-chuyen-bay-tot-dep-1578323501979/dieu-kien-ve-1641466500765"
             target="_blank" rel="noopener">
            TẠI ĐÂY.
          </a>
        </p>
        <p style="text-align: justify; line-height: 0.5;">
          &nbsp;
        </p>
        <table border="1" style="border-collapse: collapse; width: 100.039%; background-color: rgb(248, 202, 198); height: 95.9766px;">
          <tbody>
          <tr style="height: 95.9766px;">
            <td style="width: 99.5464%; height: 95.9766px;">
              <p style="text-align: justify; line-height: 1.5;">
                Để đảm bảo quyền lợi của bản thân trước những trở ngại trong chuyến đi
                như tai nạn, mất hành lý hoặc giấy tờ tùy thân, bị hủy chuyến bay… bạn
                có thể chọn mua thêm Vietjet TravelCare. Sản phẩm với nhiều quyền lợi hấp
                dẫn, giúp bạn có thể thoải mái tận hưởng chuyến đi.
              </p>
              <p style="text-align: justify; line-height: 1.5;">
                Chi tiết điều kiện và quyền lợi của
                <a href="https://www.vietjetair.com/vi/pages/vietjet-travelcare-1619514385932"
                   target="_blank" rel="noopener">
                  bảo hiểm Vietjet TravelCare
                </a>
                .
              </p>
            </td>
          </tr>
          </tbody>
        </table>
        <h2 style="text-align: justify;">
          2. Hướng dẫn thủ tục hủy vé máy bay Vietjet
        </h2>
        <p style="text-align: justify;">
          Với các hành khách bị hủy chuyến bay do điều kiện thời tiết
          xấu, lỗi an ninh, trục trặc kỹ thuật,... hãng hàng không sẽ sắp
          xếp chuyển đổi cho bạn khung giờ bay khác, nhưng nếu khung giờ
          bay đó không phù hợp với bạn thì bạn có thể chọn phương án hỗ
          trợ khác, chẳng hạn bảo lưu giá trị vé trong vòng 180 ngày.&nbsp;
        </p>
        <p style="text-align: justify;">
          Trong trường hợp này, hành khách hãy liên hệ với tổng đài hoặc
          đến trực tiếp phòng vé để được nhân viên tư vấn hướng dẫn thủ tục
          hủy vé máy bay Vietjet cách nhanh chóng và thuận lợi nhất.
        </p>
        <p style="text-align: justify;">
          <strong>
            2.1 Hủy vé máy bay qua tổng đài Vietjet&nbsp;
          </strong>
        </p>
        <p style="text-align: justify;">
          Nếu hành khách đặt vé qua tổng đài, bạn có thể gọi trực tiếp
          đến tổng đài Vietjet 1900 1886 để được hỗ trợ hủy vé. Hành khách
          cần cung cấp mã đặt chỗ + tên hành khách + thông tin cần thay đổi,
          các nhân viên tổng đài sẽ hỗ trợ khách hàng hủy vé nhanh chóng.
        </p>
        <p style="text-align: justify;">
          <strong>
            2.2 Hủy vé máy bay qua đại lý hoặc phòng vé Vietjet
          </strong>
        </p>
        <p style="text-align: justify;">
          Bên cạnh tổng đài, hành khách còn còn có thể hủy vé bằng cách đến trực
          tiếp phòng vé hoặc đại lý của Vietjet trên toàn quốc.
        </p>
        <ul>
          <li style="text-align: justify;">
            <a href="https://www.vietjetair.com/vi/pages/mua-ve-o-dau-1578323999177/phong-ban-ve-1578484710044"
               target="_blank" rel="noopener">
              Danh sách phòng vé Vietjet.
            </a>
          </li>
          <li style="text-align: justify;">
            <a href="https://www.vietjetair.com/vi/pages/mua-ve-o-dau-1578323999177/dai-ly-ban-ve-1601338147501"
               target="_blank" rel="noopener">
              Danh sách đại lý vé Vietjet.
            </a>
          </li>
        </ul>
        <p style="text-align: center;">
          <em>
            <img src="https://vj-prod-website-cms.s3.ap-southeast-1.amazonaws.com/huyvemaybay3-1666210063918.jpg"
                 alt="hủy vé vietjet" width="750" height="508">
          </em>
        </p>
        <p style="text-align: center;">
          <em>
            Để tìm hiểu kỹ lưỡng về điều kiện vé, hãy liên hệ với Vietjet ngay hôm
            nay&nbsp;
          </em>
        </p>
        <h2 style="text-align: justify;">
          3. Phí hoàn bảo lưu định danh tiền và bỏ chỗ là bao nhiêu?&nbsp;
        </h2>
        <p style="text-align: justify;">
          Sau đây là biểu phí hoàn bảo lưu định danh tiền và bỏ chỗ tại Vietjet.
          Ngoài ra, hành khách có thể tham khảo các loại phí và lệ phí khác tại đây.&nbsp;
        </p>
        <table border="1" style="border-collapse: collapse; width: 100.039%; height: 56.25px;">
          <tbody>
          <tr style="height: 18.75px;">
            <td style="width: 32.9743%; height: 18.75px; text-align: center; line-height: 2;">
              <strong>
                  <span style="text-align: justify;">
                    Loại phụ thu
                  </span>
              </strong>
            </td>
            <td style="width: 32.9743%; height: 18.75px; text-align: center; line-height: 2;">
              <strong>
                  <span style="text-align: justify;">
                    Quốc nội (VND)
                  </span>
              </strong>
            </td>
            <td style="width: 32.9752%; height: 18.75px; text-align: center; line-height: 2;">
              <strong>
                  <span style="text-align: justify;">
                    Quốc tế (VND)
                  </span>
              </strong>
            </td>
          </tr>
          <tr style="height: 18.75px;">
            <td style="width: 32.9743%; height: 18.75px; text-align: center; line-height: 2;">
                <span style="text-align: justify;">
                  Phụ thu hoàn bảo lưu định danh tiền vé
                </span>
            </td>
            <td style="width: 32.9743%; height: 18.75px; text-align: center; line-height: 2;">
                <span style="text-align: justify;">
                  350,000
                </span>
            </td>
            <td style="width: 32.9752%; height: 18.75px; text-align: center; line-height: 2;">
                <span style="text-align: justify;">
                  800,000
                </span>
            </td>
          </tr>
          <tr style="height: 18.75px;">
            <td style="width: 32.9743%; height: 18.75px; text-align: center; line-height: 2;">
                <span style="text-align: justify;">
                  Phí bỏ chỗ
                </span>
            </td>
            <td style="width: 32.9743%; height: 18.75px; text-align: center; line-height: 2;">
                <span style="text-align: justify;">
                  120.000
                </span>
            </td>
            <td style="width: 32.9752%; height: 18.75px; text-align: center; line-height: 2;">
                <span style="text-align: justify;">
                  580.000
                </span>
            </td>
          </tr>
          </tbody>
        </table>
        <p style="text-align: justify; line-height: 0.5;">
          &nbsp;
        </p>
        <p style="text-align: justify;">
          <strong>
            &gt;&gt; Xem thêm:
          </strong>
          <a href="https://www.vietjetair.com/vi/news/cam-nang-du-lich-1640944806320/huong-dan-3-cach-check-in-ve-may-bay-vietjet-1663002506781"
             target="_blank" rel="noopener">
            Hướng dẫn chi tiết cách check-in vé máy bay online và trực tiếp
          </a>
        </p>
        <p style="text-align: justify; line-height: 0.5;">
          &nbsp;
        </p>
        <p style="text-align: justify;">
          <span style="background-color: rgb(251, 238, 184);">
            Trên đây là những lưu ý khi hủy vé máy bay. Tốt nhất bạn hãy lên kế hoạch
            kỹ lưỡng cho chuyến đi để tránh trường hợp phải hủy vé, ảnh hưởng đến chuyến
            đi. Đồng thời, đừng quên kiểm tra thông tin trên vé để tránh những sai
            sót không đáng có.&nbsp;
          </span>
        </p>
      </div>
      <div class="MuiBox-root jss474 jss84">
        <hr class="MuiDivider-root">
        <button aria-label="facebook" class="react-share__ShareButton" style="background-color: transparent; border: none; padding: 0px; font: inherit; color: inherit; cursor: pointer;">
          <img src="/static/media/social-facebook.8b87db9d.svg" alt="">
        </button>
        <button aria-label="twitter" class="react-share__ShareButton" style="background-color: transparent; border: none; padding: 0px; font: inherit; color: inherit; cursor: pointer;">
          <img src="/static/media/social-twitter.2013caeb.svg" alt="">
        </button>
      </div>
    </div>
  </div>
</div>
</body>
</html>