<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="MuiGrid-root MuiGrid-container">
  <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-12">
    <div class="MuiBox-root jss448 jss80">
      <div class="MuiBox-root jss468">
        <h1 class="MuiTypography-root jss81 jss156 MuiTypography-h1 MuiTypography-colorTextPrimary"
            customcolor="red">
          Thông báo chuyển đổi chương trình khách hàng thân thiết Vietjet Skyclub
        </h1>
      </div>
      <div class="MuiBox-root jss473 jss472 jss83">
        <p>
          Công ty Cổ phần Hàng Không Vietjet (“
          <strong>
            Vietjet
          </strong>
          ”) xin gửi đến Quý Khách hàng (“
          <strong>
            KH
          </strong>
          ”) lời chào trân trọng và xin thông báo đến Quý Khách về việc chuyển đổi
          Chương trình khách hàng thân thiết (“
          <strong>
            KHTT
          </strong>
          ”) VIETJET SKYCLUB (“
          <strong>
            Chương trình SkyClub
          </strong>
          ”) như sau:
        </p>
        <p>
          &nbsp;
        </p>
        <p>
          Kể từ ngày 11/5/2023, nhằm gia tăng lợi ích và đa dạng hóa dịch vụ cho
          KH, Chương trình SkyClub sẽ ngừng triển khai và được tích hợp vào
          <strong>
            Chương Trình Khách Hàng Thân Thiết Vietjet SkyJoy
          </strong>
          <strong>
            – Chương Trình Khách Hàng Thân Thiết Của Hãng Hàng Không Vietjet
          </strong>
          (“
          <strong>
            Chương Trình Vietjet SkyJoy
          </strong>
          ”) và được vận hành bởi Công ty Cổ phần Galaxy Joy (“
          <strong>
            GalaxyJoy
          </strong>
          ”). Đồng thời, phương thức thanh toán SkyClub sẽ được nâng cấp và chuyển
          đổi thành phương thức thanh toán
          <strong>
            Ví điện tử SkyPay
          </strong>
          do Công ty TNHH GalaxyPay cung cấp vận hành.&nbsp;
        </p>
        <p>
          &nbsp;
        </p>
        <p>
          Theo đó, KH sẽ được hưởng các quyền lợi khách hàng thân thiết theo Điều
          khoản và Điều kiện của Chương trình Vietjet SkyJoy được đăng tải tại website
          <a href="https://skyjoy.vietjetair.com/">
            www.skyjoy.vietjetair.com&nbsp;
          </a>
        </p>
        <p>
          &nbsp;
        </p>
        <p>
          Với việc chuyển đổi này:
        </p>
        <ol>
          <li>
            Vietjet ngừng triển khai việc nạp tiền vào tài khoản KHTT VIETJET SKYCLUB
            (“Tài khoản SkyClub”) từ 0 giờ ngày 4/5/2023 . Theo đó:
            <ul style="list-style-type: none;">
              <li>
                a) Số tiền KH đã nộp vào Tài khoản SkyClub và chưa sử dụng hết tính đến
                23 giờ 59 phút ngày 6/5/2023 sẽ được giữ nguyên, chuyển đổi và tiếp tục
                sử dụng tại tài khoản ví điện tử của KH do Công ty TNHH Galaxy Pay (“Galaxy
                Pay”) cung cấp với tên thương mại là Ví SkyPay; và
              </li>
              <li>
                b) Số tiền của KH trong Tài khoản SkyClub có thể được lưu trữ, chuyển
                đổi với tỷ lệ 1:1 và tiếp tục sử dụng tại Ví SkyPay của KH, theo thông
                báo của Vietjet tại thời điểm chuyển đổi tuân thủ nguyên tắc đảm bảo giữ
                nguyên và gia tăng quyền lợi của KH. Việc KH đồng ý mở và sử dụng ví điện
                tử do Galaxy Pay cung cấp được thực hiện theo thỏa thuận giữa KH và Galaxy
                Pay tuân theo quy định pháp luật có liên quan tại từng thời điểm. Vietjet
                chỉ chịu trách nhiệm đối với các dịch vụ do Vietjet cung cấp cho KH và
                không có bất kỳ cam kết, bảo đảm hoặc tham gia vào bất kỳ quá trình nào
                trong việc mở và sử dụng Ví SkyPay của Khách hàng. Trường hợp KH có bất
                kỳ thắc mắc, khiếu nại về việc chuyển đổi này, Vietjet và Galaxy Pay phối
                hợp hỗ trợ giải quyết bảo đảm quyền lợi KH trong phạm vi dịch vụ và khả
                năng của mỗi bên.
              </li>
            </ul>
          </li>
          <li>
            Sau khi thực hiện việc chuyển đổi và mở ví điện tử thành công, KH có thể
            thực hiện nạp tiền vào tài khoản Ví SkyPay của KH và sử dụng tiền đó để
            thanh toán cho các dịch vụ của Vietjet và các dịch vụ khác trên nền tảng
            thanh toán do Galaxy Pay cung cấp theo quy định về sản phẩm dịch vụ ví
            điện tử của Galaxy Pay và quy định pháp luật liên quan.
          </li>
          <li>
            KH vui lòng kiểm tra các thông tin hiện hữu đã đăng ký với Vietjet và
            nếu có bất kỳ cập nhật/yêu cầu thay đổi về thông tin liên hệ so với thông
            tin đã đăng ký này, KH có nghĩa vụ cập nhật thông tin qua Trang Web
            <strong>
              <a href="https://vietjetair.com/" target="_blank" rel="noopener">
                www.vietjetair.com
              </a>
            </strong>
            ,Mobile App Vietjet, Tổng đài CSKH Vietjet:
            <strong>
              19001886
            </strong>
            hoặc Email CSKH Vietjet:
            <strong>
              19001886@vietjetair.com
            </strong>
            trước 0 giờ ngày 7/5/2023. Vietjet sẽ không có trách nhiệm về việc mất
            mát tiền hoặc các thiệt hại liên quan phát sinh từ phía KH, nếu các thông
            tin nêu trên không được cập nhật kịp thời tới Vietjet. Từ 11/5/2023, khách
            hàng có thể tự cập nhật lại thông tin 01 lần duy nhất trong quá trình kích
            hoạt và xác thực tài khoản SkyJoy
          </li>
          <li>
            Trường hợp thông tin email, tên đăng nhập, mật khẩu truy cập, mã bí mật
            của KH bị mất, bị lộ, KH phải kịp thời thông báo cho Vietjet khi phát hiện.
            Trước khi Vietjet nhận được thông báo bằng văn bản từ KH, KH phải chịu
            hoàn toàn trách nhiệm do một bên không được ủy quyền đã và đang sử dụng
            dịch vụ từ Tài khoản của Khách hàng.
          </li>
        </ol>
        <p>
          <strong>
            <em>
              Bằng việc Vietjet không nhận được bất kỳ yêu cầu cụ thể và hợp thức nào
              qua các kênh thông tin liên hệ tại Mục 3 Thông báo này từ KH trước 0h ngày
              7/5/2023 về việc không tham gia Chương trình, sẽ được hiểu là KH đồng ý:
              (i) tham gia Chương Trình SkyJoy, và (ii) đồng ý chuyển đổi toàn bộ số
              dư Tài khoản SkyClub sang tài khoản Ví SkyPay của Khách hàng, và (iii)
              cho phép Vietjet, Bên cung cấp dịch vụ của Vietjet cùng Đối tác trong Chương
              trình thực hiện việc chuyển giao, tiếp nhận, duy trì, lưu trữ, và cập nhật
              các dữ liệu thông tin cá nhân do KH đã cung cấp và cập nhật trong Chương
              trình SkyClub và sử dụng các dữ liệu này cho các mục đích phù hợp với mục
              đích cung cấp và thực hiện chương trình khách hàng thân thiết cho KH, bao
              gồm nhưng không giới hạn, để thực hiện các giao dịch và tích lũy/tiêu điểm
              tại các Đối tác khác nhau của Chương trình KHTT Vietjet SkyJoy và giới
              thiệu các hàng hóa/dịch vụ mới của Đối tác. Tất cả các dữ liệu liên quan
              đến KH sẽ được bảo vệ và được sử dụng bởi (i) Vietjet theo quy định tại
              chính sách bảo mật của Vietjet, và (ii) các Galaxy Pay, Galaxy Joy, Đối
              tác cung cấp dịch vụ trong Chương trình theo thỏa thuận về chính sách quyền
              riêng tư được xác lập cụ thể và riêng biệt giữa KH và đơn vị đó.
            </em>
          </strong>
        </p>
        <p>
          &nbsp;
        </p>
        <p>
          Một lần nữa, Vietjet cảm ơn Quý Khách đã sử dụng Dịch vụ và đồng hành
          cùng Vietjet trong suốt thời gian qua. Chúng tôi hy vọng rằng việc chuyển
          đổi chương trình khách hàng thân thiết này sẽ mang đến nhiều hơn nữa các
          lợi ích cho Quý Khách và sự hài lòng quý báu của Quý khách dành cho Vietjet
          nói riêng và các Đối tác trong Chương trình nói chung.
        </p>
        <p>
          &nbsp;
        </p>
        <p>
          Trân trọng
        </p>
        <p>
          Công Ty CP Hàng Không Vietjet
        </p>
        <p>
          &nbsp;
        </p>
        <p>
          &nbsp;
        </p>
      </div>
      <div class="MuiBox-root jss474 jss84">
        <hr class="MuiDivider-root">
        <button aria-label="facebook" class="react-share__ShareButton" style="background-color: transparent; border: none; padding: 0px; font: inherit; color: inherit; cursor: pointer;">
          <img src="/static/media/social-facebook.8b87db9d.svg" alt="">
        </button>
        <button aria-label="twitter" class="react-share__ShareButton" style="background-color: transparent; border: none; padding: 0px; font: inherit; color: inherit; cursor: pointer;">
          <img src="/static/media/social-twitter.2013caeb.svg" alt="">
        </button>
      </div>
    </div>
  </div>
</div>
</body>
</html>