<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanh toán</title>
    <link rel="stylesheet" type="text/css" media="all" href="../resources/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="all" href="../resources/css/reset.css">
    <link rel="stylesheet" type="text/css" media="all" href="../resources/css/style.css">
</head>

<body>
    <section class="section">
        <!-- <h1 class="page_title font-weight-bold">クリエイターマイページ</h1> -->
        <div class="mypage_block creator_mypage_design">
            <!--#include virtual="/ssi/creator_nav.html" -->
            <nav class="mypage_nav">
                <ul>
                    <li class="creator_mypage"><a href="payment.html">Thông tin cá nhân</a></li>
                    <li class="creator_mypage_design"><a href="payment.html">Thanh toán</a></li>
                    <li class="creator_mypage_design_post"><a href="payment.html">Lịch sử giao dịch</a></li>
                    <li class="creator_mypage_sales"><a href="payment.html">Đổi mật khẩu</a></li>
                </ul>
            </nav>
            <section class="mypage_content">
                <div class="table_scroll w-100">
                    <table class="table_style">
                        <tbody>
                            <tr>
                                <th>Mã vé</th>
                                <th>Nơi đi</th>
                                <th>Nơi đến</th>
                                <th>Ngày đặt</th>
                                <th>Ngày bay</th>
                                <th>Giá</th>
                                <th>Hủy</th>
                                <th>Chọn</th>
                            </tr>
                            <tr>
                                <td>DN001</td>
                                <td>Đà Nẵng</td>
                                <td>Hồ Chí Minh</td>
                                <td>15/05/2025</td>
                                <td>25/05/2025</td>
                                <td>1.500.000</td>
                                <td>
                                    <a href="#">Hủy</a>
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input border border-secondary" value="1" name="radio_chosen"/>
                                </td>
                            </tr>
                            <tr>
                                <td>HCM001</td>
                                <td>Hồ Chí Minh</td>
                                <td>Đà Nẵng</td>
                                <td>15/05/2025</td>
                                <td>25/05/2025</td>
                                <td>1.500.000</td>
                                <td>
                                    <a href="#">Hủy</a>
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input border border-secondary" value="1" name="radio_chosen"/>
                                </td>
                            </tr>
                            <tr>
                                <td>DN002</td>
                                <td>Đà Nẵng</td>
                                <td>Hồ Chí Minh</td>
                                <td>15/05/2025</td>
                                <td>25/05/2025</td>
                                <td>1.500.000</td>
                                <td>
                                    <a href="#">Hủy</a>
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input border border-secondary" value="1" name="radio_chosen"/>
                                </td>
                            </tr>
                            <tr>
                                <td>HN001</td>
                                <td>Hà Nội</td>
                                <td>Hồ Chí Minh</td>
                                <td>15/05/2025</td>
                                <td>25/05/2025</td>
                                <td>1.500.000</td>
                                <td>
                                    <a href="#">Hủy</a>
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input border border-secondary" value="1" name="radio_chosen"/>
                                </td>
                            </tr>
                            <tr>
                                <td>DN003</td>
                                <td>Đà Nẵng</td>
                                <td>Hồ Chí Minh</td>
                                <td>15/05/2025</td>
                                <td>25/05/2025</td>
                                <td>1.500.000</td>
                                <td>
                                    <a href="#">Hủy</a>
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" class="form-check-input border border-secondary" value="1" name="radio_chosen"/>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="pt-3 d-flex justify-content-end">
                    <div class="text-right">
                        <button type="button" class="btn btn-sm btn-warning px-3">Thanh toán</button>
                    </div>
                </div>
            </section>
        </div><!-- .mypage_block END -->
    </section>
    <script src="../resources/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../resources/plugins/jquery/jquery.min.js"></script>
</body>

</html>