<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-8">
    <div class="MuiBox-root jss1238 jss870">
        <div class="MuiBox-root jss1461">
            <h1 class="MuiTypography-root jss871 jss946 MuiTypography-h1 MuiTypography-colorTextPrimary"
                customcolor="red">
                Kênh thanh toán
            </h1>
        </div>
        <div class="MuiBox-root jss1465 jss1422 jss873">
            <p>
                <strong>
                    Quý khách có thể thanh toán bằng các hình thức sau:&nbsp;
                </strong>
            </p>
            <p>
                &nbsp;
            </p>
            <p>
                <strong>
                    1. Thanh toán trực tiếp trên website Vietjet (vietjetair.com) bằng các
                    loại thẻ:
                </strong>
            </p>
            <p>
                Lưu ý: Quý khách hàng cần phải đăng ký chức năng thanh toán trực tuyến
                để có thể tiến hành thanh toán thành công khi mua vé vủa VietJetAir
            </p>
            <p>
                &nbsp;
            </p>
            <p>
                <em>
                    <strong>
                        1.1&nbsp; &nbsp;Thanh toán bằng thẻ tín dụng/ ghi nợ Visa Card , Master
                        Card, American Express, JCB:
                    </strong>
                </em>
            </p>
            <p>
                &nbsp;
            </p>
            <div class="images" style="display: flex; justify-content: center; align-items: center;">
                <p>
                    <img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/visacard-1607072140162.jpg"
                         alt="Visa" style="max-height: 100px; object-fit: contain; padding: 10px;">
                </p>
                <p>
                    <img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/mastercard-1607072140158.jpg"
                         alt="Master" style="max-height: 100px; object-fit: contain; padding: 10px;">
                </p>
                <p>
                    <img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/americanexpress-1607072140164.jpg"
                         alt="American" style="max-height: 100px; object-fit: contain; padding: 10px;">
                </p>
                <p>
                    <img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/jcblogo-1607072140155.jpg"
                         alt="JCB" style="max-height: 100px; object-fit: contain; padding: 10px;">
                </p>
            </div>
            <p>
                &nbsp;
            </p>
            <p>
                &nbsp;
            </p>
            <p>
                <em>
                    <strong>
                        1.2&nbsp; &nbsp;Thanh toán bằng thẻ ghi nợ nội địa qua cổng NAPAS:
                    </strong>
                </em>
            </p>
            <p>
                &nbsp;
            </p>
            <p>
                <img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/issuebank2017-1607072125757.jpg"
                     alt="danh sách ngân hàng" style="max-width: 100%;">
            </p>
            <p>
                &nbsp;
            </p>
            <p>
                Lưu ý: Danh sách các thẻ được chấp nhận thanh toán qua cổng NAPAS có thể
                được cập nhật và công bố trong phần thanh toán khi đặt vé. Cần đăng ký
                chức năng thanh toán trực tuyến cho thẻ của bạn để thanh toán trực tuyến.
            </p>
            <p>
                Ghi chú: Xem thêm danh sách các thẻ được chấp nhận thanh toán qua cổng
                NAPAS
                <span style="text-decoration: underline;">
          <span style="color: rgb(51, 106, 234); text-decoration: underline;">
            <a href="https://www.vietjetair.com/UserFiles/file/HDSD-ecom/Ecom-HDSD-m.pdf"
               target="_blank" rel="noopener" style="color: rgb(51, 106, 234); text-decoration: underline;">
              tại đây
            </a>
          </span>
        </span>
            </p>
            <p>
                &nbsp;
            </p>
            <p>
                <em>
                    <strong>
                        1.3&nbsp; &nbsp;Quét và thanh toán với QR Pay trên Mobile Banking
                    </strong>
                </em>
            </p>
            <p>
                1.3.1 Danh sách các ngân hàng hỗ trợ.
            </p>
            <p>
                &nbsp;
            </p>
            <p>
                <img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/vnbanklist-1607072113639.png"
                     alt="Quét và thanh toán với QA Pay" style="max-width: 100%; display: block; margin-left: auto; margin-right: auto;">
            </p>
            <p>
                1.3.2 Hướng dẫn các bước thanh toán, vui lòng nhấn vào đây
            </p>
            <p>
                &nbsp;
            </p>
            <p>
                <em>
                    <strong>
                        1.4 Trả góp với HD Saison
                    </strong>
                </em>
            </p>
            <p>
                <a href="https://www.vietjetair.com/vi/pages/cach-thuc-mua-ve-may-bay-vietjet-qua-hinh-thuc-tra-gop-voi-hd-saison-1642155449204"
                   target="_blank" rel="noopener">
          <span style="text-decoration: underline;">
            <span style="color: rgb(51, 106, 234);">
              (Xem chi tiết)
            </span>
          </span>
                </a>
            </p>
            <p>
                &nbsp;
            </p>
            <p>
                1.5 Thanh toán bằng ví điện tử MoMo
            </p>
            <p>
        <span style="text-decoration: underline;">
          <span style="color: rgb(51, 106, 234); text-decoration: underline;">
            (
            <a href="https://www.vietjetair.com/UserFiles/file/Kenh%20thanh%20toan/infographic-vj-momo-payment-vi.pdf"
               target="_blank" rel="noopener" style="color: rgb(51, 106, 234); text-decoration: underline;">
              Xem chi tiết
            </a>
            )
          </span>
        </span>
            </p>
            <p>
                &nbsp;
            </p>
            <p>
                <strong>
                    2. Thanh toán sau tại các phòng vé của Vietjet và các điểm thu hộ tại
                    Ngân Hàng HDBank, ABBank, Hệ thống bưu điện VNPOS:
                </strong>
            </p>
            <p>
                &nbsp;
            </p>
            <p>
                2.1 Thanh toán tại phòng vé của Vietjet :
                <span style="color: rgb(0, 84, 234);">
          <a href="https://www.vietjetair.com/vi/pages/mua-ve-o-dau-1578323999177/phong-ban-ve-1578484710044"
             target="_blank" rel="noopener" style="color: rgb(0, 84, 234);">
            Xem danh sách phòng vé Vietjet
          </a>
        </span>
            </p>
            <p>
                &nbsp;
            </p>
            <p>
                2.2 Thanh toán bằng tiền mặt tại các điểm thu hộ của Ngân hàng HDBank&nbsp;
            </p>
            <p>
                &nbsp;
            </p>
            <p>
                2.3 Thanh toán qua kênh Internet Banking của các Ngân hàng&nbsp;
            </p>
            <p>
                &nbsp;
            </p>
            <p>
                2.4 Thanh toán qua Payoo
            </p>
            <p>
                (
                <span style="text-decoration: underline;">
          <span style="color: rgb(35, 111, 161); text-decoration: underline;">
            <a href="https://www.vietjetair.com/UserFiles/file/Kenh%20thanh%20toan/Huong-dan-thanh-toan-payoo.pdf"
               target="_blank" rel="noopener" style="color: rgb(35, 111, 161); text-decoration: underline;">
              <span style="color: rgb(51, 106, 234); text-decoration: underline;">
                Xem hướng dẫn thanh toán
              </span>
            </a>
          </span>
        </span>
                )
            </p>
            <p>
        <span style="text-decoration: underline;">
          <span style="color: rgb(51, 106, 234); text-decoration: underline;">
            <a href="https://www.vietjetair.com//Sites/Web/vi-Vn/NewsDetail/diem-thanh-toan-payoo/3249/diem-thanh-toan-payoo"
               style="color: rgb(51, 106, 234); text-decoration: underline;">
              Tìm điểm thanh toán Payoo
            </a>
          </span>
        </span>
            </p>
            <p>
                &nbsp;
            </p>
            <p>
                2.5 Thanh toán qua Viettel Money
            </p>
            <p>
                (
                <a href="https://viettelmoney.vn/wp-content/uploads/2022/12/Huong-dan-thanh-toan-viettel-money3.png">
                    Xem hướng dẫn thanh toán
                </a>
                )
            </p>
            <p>
                &nbsp;
            </p>
            <p>
                <strong>
                    3. Bay trước - trả sau:
                </strong>
            </p>
            <p>
                &nbsp;
            </p>
            <p>
                3.1 Hướng dẫn tạo tài khoản thành viên MOVI để mua vé máy bay không cần
                trả trước&nbsp;
            </p>
            <p>
                &nbsp;
            </p>
            <p>
                Chỉ cần 4 bước đơn giản để tạo tài khoản thành viên MOVI, mua vé máy bay
                không cần trả trước.
            </p>
            <p>
                <strong>
                    Bước 1: Nhập thông tin cá nhân
                </strong>
            </p>
            <p>
                <strong>
                    Bước 2: Chụp hình xác thực
                </strong>
            </p>
            <p>
                <strong>
                    Bước 3: Xác nhận thông tin &amp; OTP
                </strong>
            </p>
            <p>
                <strong>
                    Bước 4: Hoàn tất&nbsp;
                </strong>
            </p>
            <p>
                &nbsp;
            </p>
            <p>
                Để lại thông tin MOVI hỗ trợ bạn ngay:
                <a href="https://www.movi.vn/vjb1" target="_blank" rel="noopener">
                    https://www.movi.vn/vjb1
                </a>
            </p>
            <p>
                Video hướng dẫn tạo tài khoản thành viên MOVI:
                <a href="https://youtu.be/FKzxD1mt-ZY" target="_blank" rel="noopener">
                    tại đây
                </a>
            </p>
            <p>
                &nbsp;
            </p>
            <p>
                3.2 Hướng dẫn đặt vé và thanh toán với Bay trước - Trả sau&nbsp;
            </p>
            <p>
                &nbsp;
            </p>
            <p>
                Đặt vé và thanh toán dễ dàng chỉ với 3 phút
            </p>
            <p>
                <strong>
                    Bước 1: Vào trang Vietjet và tiến hành đặt vé
                </strong>
            </p>
            <p>
                <strong>
                    Bước 2: Chọn phương thức thanh toán "Bay trước - Trả sau"
                </strong>
            </p>
            <p>
                <strong>
                    Bước 3: Hoàn tất thông tin và tiến hành thanh toán
                </strong>
            </p>
            <p>
                &nbsp;
            </p>
            <p>
                Để lại thông tin MOVI hỗ trợ bạn ngay:
                <a href="https://www.movi.vn/vjb1" target="_blank" rel="noopener">
                    https://www.movi.vn/vjb1
                </a>
            </p>
            <p>
                Video hướng dẫn thanh toán:&nbsp;
                <a href="https://youtu.be/fWhqSTjk-Bc" target="_blank" rel="noopener">
                    tại đây
                </a>
            </p>
            <p>
                &nbsp;
            </p>
            <p>
                3.3 Hướng dẫn thanh toán Bay trước - Trả sau qua các kênh:&nbsp;
                <a href="https://ecom.movi.vn/guide-payment/" target="_blank" rel="noopener">
                    tại đây
                </a>
            </p>
            <p>
                &nbsp;
            </p>
            <p>
                <strong>
                    4. Thanh toán qua Thailand Banks&nbsp;
                </strong>
            </p>
            <p>
                <a href="https://vj-prod-website-cms.s3.ap-southeast-1.amazonaws.com/0-document/payment_2c2p.pdf"
                   target="_blank" rel="noopener">
                    Hướng dẫn chi tiết tại đây
                </a>
            </p>
            <p>
                &nbsp;
            </p>
            <p>
                <strong>
                    5.
                </strong>
                <strong>
                    HD thanh toán bằng SkyPay trên app và website VJ
                </strong>
            </p>
            <ul>
                <li>
          <span style="color: rgb(26, 23, 250);">
            <a href="https://vj-prod-website-cms.s3.ap-southeast-1.amazonaws.com/0-document/payment/Huong-dan-thanh-toan-vietjet-skypay-app.pdf"
               target="_blank" rel="noopener" style="color: rgb(26, 23, 250);">
              Hướng dẫn thanh toán trên app
            </a>
          </span>
                </li>
                <li>
          <span style="color: rgb(26, 23, 250);">
            <a href="https://vj-prod-website-cms.s3.ap-southeast-1.amazonaws.com/0-document/payment/Huong-dan-thanh-toan-vietjet-skypay-web.pdf"
               target="_blank" rel="noopener" style="color: rgb(26, 23, 250);">
              Hướng dẫn thanh toán trên website
            </a>
          </span>
                </li>
            </ul>
            <p>
                <strong>
                    6. Hướng dẫn thanh toán qua VietQR
                </strong>
            </p>
            <p>
                <a href="https://vj-prod-website-cms.s3.ap-southeast-1.amazonaws.com/0-document/payment/Huong-dan-thanh-toan-vietqr-payment.pdf"
                   target="_blank" rel="noopener">
          <span style="color: rgb(26, 23, 250);">
            (Xem hướng dẫn thanh toán)
          </span>
                </a>
            </p>
            <p>
                &nbsp;
            </p>
            <p>
                <strong>
                    7. Thanh toán bằng thẻ tín dụng HDBank Vietjet
                </strong>
            </p>
            <p>
        <span style="color: rgb(2, 72, 253);">
          <strong>
            (
          </strong>
          <a href="https://vj-prod-website-cms.s3.ap-southeast-1.amazonaws.com/0-document/payment/huong-dan-thanh-toan-hdbank-vietjet-platinum.pdf"
             target="_blank" rel="noopener" style="color: rgb(2, 72, 253);">
            xem chi tiết
          </a>
          <strong>
            )
          </strong>
        </span>
            </p>
        </div>
        <div class="MuiBox-root jss1466 jss874">
            <hr class="MuiDivider-root">
            <button aria-label="facebook" class="react-share__ShareButton" style="background-color: transparent; border: none; padding: 0px; font: inherit; color: inherit; cursor: pointer;">
                <img src="/static/media/social-facebook.8b87db9d.svg" alt="">
            </button>
            <button aria-label="twitter" class="react-share__ShareButton" style="background-color: transparent; border: none; padding: 0px; font: inherit; color: inherit; cursor: pointer;">
                <img src="/static/media/social-twitter.2013caeb.svg" alt="">
            </button>
        </div>
    </div>
</div>
</body>
</html>