<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="MuiGrid-root MuiGrid-container">
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-12">
        <div class="MuiBox-root jss448 jss80">
            <div class="MuiBox-root jss468">
                <h1 class="MuiTypography-root jss81 jss156 MuiTypography-h1 MuiTypography-colorTextPrimary"
                    customcolor="red">
                    Dịch vụ đặc biệt
                </h1>
            </div>
            <div class="MuiBox-root jss473 jss472 jss83">
                <p>
                    &nbsp;
                </p>
                <p>
                    <strong>
                        1. Dịch vụ cho khách cần hỗ trợ xe lăn:&nbsp;
                    </strong>
                </p>
                <p>
                    &nbsp;
                </p>
                <p>
                    <strong>
                        a. Là dịch vụ trợ giúp cho hành khách khuyết tật hoặc hành khách có thể
                        trạng yếu, không thể tự đi lại bình thường, cần trợ giúp xe lăn khi sử
                        dụng dịch vụ hàng không. Khách cần sự hỗ trợ xe lăn được chia làm 3 loại
                        sau:
                    </strong>
                </p>
                <ul>
                    <li>
                        Khách cần hỗ trợ trên sân đỗ (Wheelchair Ramp- WCHR): Là hành khách cần
                        sự hỗ trợ di chuyển dưới mặt đất (bao gồm trong nhà ga, trên sân đỗ). Khách
                        có khả năng tự di chuyển lên, xuống tàu bay và trong khoang hành khách
                        của tàu bay.
                    </li>
                    <li>
                        Khách cần hỗ trợ lên xuống tàu bay (Wheelchair Step- WCHS): Là hành khách
                        cần sự hỗ trợ di chuyển dưới mặt đất (trong nhà ga, trên sân đỗ), di chuyển
                        lên xuống tàu bay. Khách có khả năng tự di chuyển trong khoang hành khách
                        của tàu bay.
                    </li>
                    <li>
                        Khách cần hỗ trợ trên tàu bay ((Wheelchair Cabin- WCHC): Là hành khách
                        cần sự hỗ trợ di chuyển dưới mặt đất (trong nhà ga, trên sân đỗ), di chuyển
                        lên xuống tàu bay và di chuyển trong khoang hành khách của tàu bay. Khách
                        không có khả năng tự di chuyển ở mọi vị trí.&nbsp;&nbsp;
                    </li>
                </ul>
                <p>
                    <strong>
                        b. Điều kiện chấp nhận vận chuyển:
                    </strong>
                </p>
                <ul>
                    <li>
                        Khách cần phải đặt dịch vụ xe lăn trước 24 tiếng so với giờ khởi hành
                        dự kiến qua Phòng vé và Trung tâm phục vụ khách hàng của Vietjet.
                    </li>
                    <li>
                        Hành khách đủ sức khỏe thực hiện hành trình. Trường hợp khách là người
                        bị bệnh, phải hoàn tất các thủ tục đảm bảo đủ sức khỏe thực hiện hành trình
                        (khách phải xác nhận sức khỏe trước chuyến bay).
                    </li>
                    <li>
                        Số lượng khách tối đa trên mỗi chuyến bay: Giới hạn tùy theo loại dịch
                        vụ xe lăn khách yêu cầu.
                    </li>
                    <li>
                        Khách cần hỗ trợ lên xuống tàu bay: được yêu cầu phải có người từ 18 tuổi
                        trở lên, đầy đủ sức khỏe đi cùng để hỗ trợ khách lên/xuống cầu thang (tại
                        các sân bay không có thiết bị xe nâng) và trong khoang máy bay; Mỗi hành
                        khách đi cùng với 01 khách cần hỗ trợ lên xuống tàu bay.
                    </li>
                    <li>
                        Khách cần hỗ trợ trên tàu bay: Chúng tôi chỉ chấp nhận chuyên chở đối
                        với hành khách chấp nhận việc không có thiết bị hỗ trợ trên khoang tàu
                        bay và thõa mãn các điều kiện như khách cần hỗ trợ lên xuống tàu bay.&nbsp;
                    </li>
                </ul>
                <p>
                    &nbsp;
                </p>
                <p>
                    <strong>
                        2. Dịch vụ cho khách khiếm thị (Blind- BLND):
                    </strong>
                </p>
                <p>
                    <strong>
                        a. Là dịch vụ trợ giúp cho hành khách mất khả năng cảm nhận thị giác một
                        phần hoặc hoàn toàn, cần hỗ trợ đặc biệt.
                    </strong>
                </p>
                <p>
                    <strong>
                        b. Điều kiện chấp nhận vận chuyển:&nbsp;
                    </strong>
                </p>
                <ul>
                    <li>
                        Khách khiếm thị có người đi cùng: Chấp nhận vận chuyển như khách thông
                        thường. Người đi cùng phải từ 18 tuổi trở lên, đủ sức khỏe và khả năng
                        cảm nhận thị giác để hỗ trợ khách khiếm thị; Mỗi hành khách có thể đi kèm
                        tối đa 02 hành khách khiếm thị.&nbsp;
                    </li>
                    <li>
                        Khách khiếm thị không có người đi cùng:&nbsp;
                        <ul>
                            <li>
                                Khách cần phải đặt dịch vụ trước 24 tiếng so với giờ khởi hành dự kiến
                                qua Phòng vé và Trung tâm phục vụ khách hàng của Vietjet.&nbsp;
                            </li>
                            <li>
                                Hành khách có khả năng tự ăn uống và tự phục vụ bản thân trong suốt quá
                                trình vận chuyển.&nbsp;
                            </li>
                            <li>
                                Khách khiếm thị phải có người hỗ trợ tại sân bay khởi hành và sân bay
                                đến.&nbsp;
                            </li>
                        </ul>
                    </li>
                </ul>
                <p>
                    <strong>
                        3. Dịch vụ cho khách khiếm thính (Deaf- DEAF):&nbsp;
                    </strong>
                </p>
                <p>
                    &nbsp;
                </p>
                <p>
                    <strong>
                        a. Là dịch vụ trợ giúp cho hành khách mất khả năng cảm nhận thính giác
                        một phần hoặc hoàn toàn, cần hỗ trợ đặc biệt.&nbsp;
                    </strong>
                </p>
                <p>
                    &nbsp;
                </p>
                <p>
                    <strong>
                        b. Điều kiện chấp nhận vận chuyển:&nbsp;
                    </strong>
                </p>
                <ul>
                    <li>
                        Khách khiếm thính có người đi cùng: Chấp nhận vận chuyển như khách thông
                        thường. Người đi cùng phải từ 18 tuổi trở lên, đủ sức khỏe và khả năng
                        cảm nhận thính giác để hỗ trợ khách khiếm thính.&nbsp;
                    </li>
                    <li>
                        Khách khiếm thính không có người đi cùng:
                        <ul>
                            <li>
                                Khách cần phải đặt dịch vụ trước 24 tiếng so với giờ khởi hành dự kiến
                                qua Phòng vé và Trung tâm phục vụ khách hàng của Vietjet.&nbsp;
                            </li>
                            <li>
                                Hành khách có khả năng tự ăn uống và tự phục vụ bản thân trong suốt quá
                                trình vận chuyển.&nbsp;
                            </li>
                        </ul>
                    </li>
                </ul>
                <p>
                    <strong>
                        4. Khách mua thêm ghế (Extra seat- EXST):&nbsp;
                    </strong>
                </p>
                <p>
                    <strong>
                        a
                    </strong>
                    . Là dịch vụ cung cấp cho hành khách có khổ người quá cỡ, cần sử dụng
                    hai ghế ngồi cạnh nhau trên cùng chuyến bay; hoặc khách có nhu cầu mua
                    thêm ghế để ngồi thoải mái.
                </p>
                <p>
                    &nbsp;
                </p>
                <p>
                    <strong>
                        b
                    </strong>
                    . Điều kiện chấp nhận vận chuyển:
                </p>
                <ul>
                    <li>
                        Hành khách có nhu cầu cần liên hệ với nhân viên Phòng vé, Đại lý và Trung
                        tâm phục vụ khách hàng của Vietjet để mua thêm ghế.
                    </li>
                    <li>
                        Mức phí áp dụng cho ghế mua thêm như mức phí mua thêm 01 chỗ tại thời
                        điểm khách đặt dịch vụ.&nbsp;
                    </li>
                </ul>
                <p>
                    <strong>
                        5. Khách là phụ nữ có thai (Pregnant- PREG):
                    </strong>
                </p>
                <p>
                    Hành khách đang trong quá trình thai kỳ có nhu cầu đi lại bằng máy bay
                    được yêu cầu phải thông báo cho Hãng chuyên chở tại sân bay và thỏa mãn
                    các điều kiện sau:&nbsp;
                </p>
                <p>
                    <strong>
                        a
                    </strong>
                    . Phụ nữ có thai đến đủ 27 tuần, Chúng tôi có quyền yêu cầu khách cung
                    cấp giấy tờ khám thai để xác định số tuần thai và ký “Giấy thỏa thuận trách
                    nhiệm” cho chúng tôi.&nbsp;
                </p>
                <p>
                    <strong>
                        b
                    </strong>
                    . Khách có thai trên 27 tuần đến 32 tuần:&nbsp;
                </p>
                <p>
                    Khách được yêu cầu phải xuất trình được sổ/giấy khám thai thỏa mãn các
                    điều kiện sau:&nbsp;
                </p>
                <ul>
                    <li>
                        Do các bác sĩ chuyên khoa xác nhận.&nbsp;
                    </li>
                    <li>
                        Lần khám gần nhất không quá 07 ngày so với ngày khởi hành thực tế.&nbsp;
                    </li>
                    <li>
                        Xác nhận tình trạng sức khỏe của khách và thai nhi tốt hoặc bình thường.
                        Đối với tình trạng bất thường khách phải hoàn tất các thủ tục đảm bảo đủ
                        sức khỏe thực hiện hành trình.&nbsp;
                    </li>
                </ul>
                <p>
                    <strong>
                        c
                    </strong>
                    . Khách có thai trên 32 tuần: VJC từ chối vận chuyển.&nbsp;
                </p>
                <p>
                    <strong>
                        d
                    </strong>
                    . Đối với tình trạng sức khỏe của khách không bình thường; mang song thai
                    trở lên; hoặc có thai bằng phương pháp thụ tinh nhân tạo; hoặc thai nhi
                    phát triển không bình thường phải hoàn tất các thủ tục đảm bảo đủ sức khỏe
                    thực hiện hành trình theo hướng dẫn như khách phải xác nhận sức khỏe trước
                    chuyến bay.&nbsp;
                </p>
                <p>
                    &nbsp;
                </p>
                <p>
                    <strong>
                        6. Khách phải xác nhận sức khỏe trước chuyến bay:&nbsp;
                    </strong>
                </p>
                <p>
                    &nbsp;
                </p>
                <p>
                    <strong>
                        a. Khách phải xác nhận sức khỏe trước chuyến bay là hành khách có ít nhất
                        một trong các dấu hiệu về tình trạng sức khỏe sau đây:
                    </strong>
                </p>
                <ul>
                    <li>
                        Những hành khách bị giảm hoặc mất khả năng tự phục vụ do tình trạng thần
                        kinh.&nbsp;
                    </li>
                    <li>
                        Những hành khách bị thương tật, ốm đau hoặc tình trạng sức khỏe có thể
                        gây ra những ảnh hưởng nghiêm trọng tới các hành khách khác trên chuyến
                        bay&nbsp;
                    </li>
                    <li>
                        Phụ nữ có thai bao gồm: tình trạng sức khỏe không bình thường; mang song
                        thai trở lên; hoặc có thai bằng phương pháp thụ tinh nhân tạo; hoặc thai
                        nhi phát triển không bình thường - Trẻ sơ sinh có sức khỏe không bình thường,
                        bị sinh non.&nbsp;
                    </li>
                    <li>
                        Hành khách mà tình trạng sức khỏe có thể xấu đi do việc vận chuyển bằng
                        đường hàng không như: khách bị bệnh phổi, các bệnh về tai hoặc xoang, xương
                        gãy mới bó bột, mới được phẫu thuật, mới thực hiện thụ tinh nhân tạo, dị
                        ứng trong tình trạng nghiêm trọng, v.v…
                    </li>
                    <li>
                        Khách bị bệnh lây nhiễm như: thủy đậu, cúm gà, bệnh lao phổi, bệnh sởi,
                        quai bị, v.v…&nbsp;
                    </li>
                </ul>
                <p>
                    <strong>
                        b. Điều kiện chấp nhận vận chuyển:
                    </strong>
                </p>
                <p>
                    Điều kiện về người đi cùng:&nbsp;
                </p>
                <ul>
                    <li>
                        Khách có khả năng tự đi lại, tự phục vụ bản thân trong suốt quá trình
                        vận chuyển, được chấp nhận vận chuyển khi không có người đi cùng.&nbsp;
                    </li>
                    <li>
                        Khách không có khả năng tự đi lại, tự phục vụ bản thân trong suốt quá
                        trình vận chuyển: bắt buộc phải có người đi cùng. Người đi cùng được yêu
                        cầu: từ 18 tuổi trở lên; Đủ sức khỏe hỗ trợ khách trong suốt quá trình
                        vận chuyển; Mỗi hành khách chỉ đi cùng với một hành khách cần phải xác
                        nhận sức khỏe trước chuyến bay.&nbsp;
                    </li>
                </ul>
                <p>
                    Điều kiện về xác nhận sức khỏe: Khách phải hoàn thành giấy xác nhận sức
                    khỏe theo các yêu cầu sau:&nbsp;
                </p>
                <ul>
                    <li>
                        Giấy phải được xác nhận từ các cơ sở y tế:&nbsp;
                        <ul>
                            <li>
                                Tại Việt Nam: Các bệnh viện đa khoa hoặc chuyên khoa cấp trung ương, tỉnh,
                                thành phố, huyện, quận hoặc tương đương; Các bệnh viện tư nhân và quốc
                                tế; Phòng khám đa khoa quốc tế.
                            </li>
                            <li>
                                Tại các nước khác: Các cơ sở ý tế có tư cách pháp nhân.&nbsp;
                            </li>
                        </ul>
                    </li>
                    <li>
                        Giấy xác nhận sức khỏe theo mẫu của VJC “Giấy xác nhận sức khỏe”; Hoặc
                        theo mẫu giấy xác nhận của cơ sở y tế có giá trị tương đương.&nbsp;
                    </li>
                    <li>
                        Việc xác nhận sức khỏe không vượt quá 07 ngày so với ngày khởi hành thực
                        tế.&nbsp;
                    </li>
                    <li>
                        VJC từ chối chuyên chở đối với các trường hợp:
                        <ul>
                            <li>
                                Dự đoán chiều hướng bệnh tật của khách sẽ xấu đi trong hành trình bay
                                dự kiến và/hoặc
                            </li>
                            <li>
                                Tình trạng bệnh của khách có thể ảnh hưởng đến các khách khác.&nbsp;
                            </li>
                        </ul>
                    </li>
                    <li>
                        Hành khách phải ký “Giấy thỏa thuận trách nhiệm” cho Hãng hàng không.&nbsp;
                    </li>
                </ul>
                <p>
                    <strong>
                        7. Khách là trẻ sơ sinh (Infant - INF); Trẻ em (Child - CHD); Trẻ em đi
                        một mình (Unaccompanied Minor - UM); Khách nhỏ tuổi đi một mình ( Young
                        Passenger Travel Alone - YPTA)
                    </strong>
                </p>
                <p>
                    &nbsp;
                </p>
                <p>
                    <strong>
                        a. Khách là trẻ sơ sinh (INF):&nbsp;
                    </strong>
                </p>
                <ul>
                    <li>
                        Là hành khách từ 14 ngày tuổi đến dưới 02 tuổi tính đến ngày khởi hành
                        của chuyến bay.&nbsp;
                    </li>
                    <li>
                        Điều kiện chấp nhận vận chuyển:
                        <ul>
                            <li>
                                Tình trạng sức khỏe bình thường, sinh đủ tháng. Nếu sức khỏe không bình
                                thường hoặc sinh thiếu tháng phải xác nhận sức khỏe trước chuyến bay theo
                                hướng dẫn như khách phải xác nhận sức khỏe trước chuyến bay.&nbsp;
                            </li>
                            <li>
                                VJC từ chối vận chuyển trẻ dưới 14 ngày tuổi.&nbsp;
                            </li>
                            <li>
                                Phải có người đi cùng, VJC không chấp nhận INF đi một mình.&nbsp;
                            </li>
                            <li>
                                Mỗi người lớn đi cùng 01 INF.&nbsp;
                            </li>
                            <li>
                                Người đi cùng phải từ 18 tuổi trở lên; Không phải là khách có yêu cầu
                                dịch vụ đặc biệt như xe lăn; khách khiếm thị; khách khiếm thính; đối tượng
                                khách phải xác nhận sức khỏe trước chuyến bay.&nbsp;
                            </li>
                            <li>
                                Trẻ sơ sinh phải ngồi vào lòng người lớn đi cùng.&nbsp;
                            </li>
                            <li>
                                Số lượng trẻ sơ sinh tối đa trên mỗi chuyến bay: Giới hạn tùy theo từng
                                loại máy bay.&nbsp;
                            </li>
                        </ul>
                    </li>
                </ul>
                <p>
                    <strong>
                        b. Trẻ em (CHD):&nbsp;
                    </strong>
                </p>
                <ul>
                    <li>
                        Là hành khách từ 02 tuổi trở lên đến dưới 12 tuổi tính đến ngày khởi hành
                        của chuyến bay.&nbsp;
                    </li>
                    <li>
                        Điều kiện chấp nhận vận chuyển:&nbsp;
                        <ul>
                            <li>
                                Phải có người đi cùng, VJC không chấp nhận CHD đi một mình.&nbsp;
                            </li>
                            <li>
                                Một người lớn có thể đi cùng tối đa: 1 trẻ sơ sinh và 1 trẻ em dưới 6
                                tuổi; hoặc 02 trẻ em dưới 6 tuổi; Không giới hạn số lượng trẻ em trên 06
                                tuổi.&nbsp;
                            </li>
                            <li>
                                Người đi cùng phải từ 18 tuổi trở lên; Không phải là khách có yêu cầu
                                dịch vụ đặc biệt như WCH; BLND; DEAF; đối tượng khách phải xác nhận sức
                                khỏe trước chuyến bay.&nbsp;
                            </li>
                        </ul>
                    </li>
                </ul>
                <p>
                    <strong>
                        c. Trẻ em đi một mình (UM):&nbsp;
                    </strong>
                    &nbsp;
                    <a href="https://www.vietjetair.com/vi/pages/sky-kids---tre-tu-tin-bay-mot-minh-1717385418700"
                       target="_blank" rel="noopener">
                        Xem chi tiết tại đây
                    </a>
                </p>
                <ul>
                    <li>
                        Là hành khách từ 06 đến dưới 12 tuổi không có người đi cùng trên một chuyến
                        bay.
                    </li>
                </ul>
                <p>
                    <strong>
                        d. Trẻ vị thành niên đi một mình (YPTA):
                    </strong>
                    <a href="https://www.vietjetair.com/vi/pages/sky-kids---tre-tu-tin-bay-mot-minh-1717385418700"
                       target="_blank" rel="noopener">
                        Xem chi tiết tại đây
                    </a>
                </p>
                <ul>
                    <li>
                        Là hành khách từ 12 đến dưới 14 tuổi không có người đi cùng trên một chuyến
                        bay.
                    </li>
                    <li>
                        Điều kiện chấp nhận vận chuyển:
                        <ul>
                            <li>
                                Áp dụng cho chuyến bay Quốc nội và Quốc tế.
                            </li>
                            <li>
                                Đặt dịch vụ 24 tiếng trước giờ khởi hành dự kiến qua phòng vé hoặc Trung
                                tâm phục vụ khách hàng của Vietjet.
                            </li>
                            <li>
                                Cha mẹ hoặc người giám hộ cần điền thông tin đầy đủ trên tờ “
                                <a href="https://vj-prod-website-cms.s3.ap-southeast-1.amazonaws.com/0-document/form/go-form-092024/bieu_mau_UM_YPTA_VJC-GO-F-C019.pdf"
                                   target="_blank" rel="noopener">
                                    Giấy đăng ký khách nhỏ tuổi đi một mình
                                </a>
                                ” và ký “
                                <a href="https://vj-prod-website-cms.s3.ap-southeast-1.amazonaws.com/0-document/form/go-form-092024/bieu_mau_uq_VJC-GO-F-C020.pdf"
                                   target="_blank" rel="noopener">
                                    Giấy thỏa thuận trách nhiệm
                                </a>
                                ” cho Hãng.
                            </li>
                            <li>
                                Phải có người đưa đón tại sân bay khởi hành và sân bay đến.&nbsp;
                            </li>
                        </ul>
                    </li>
                </ul>
                <p>
                    <strong>
                        8. Các trường hợp cần đặt nôi trên máy bay, khách nằm cáng, khách cần
                        sử dụng bình oxy trên máy bay: chúng tôi không cung cấp các dịch vụ này.&nbsp;
                    </strong>
                </p>
                <p>
                    &nbsp;
                </p>
                <p>
                    <strong>
                        9. Khách là người cao tuổi:&nbsp;
                    </strong>
                </p>
                <ul>
                    <li>
                        Là hành khách từ 60 tuổi trở lên có nhu cầu đi lại bằng đường hàng không.&nbsp;
                    </li>
                    <li>
                        Trường hợp khách là người cao tuổi cần dịch vụ hỗ trợ đặc biệt, tùy theo
                        loại dịch vụ khách yêu cầu, áp dụng điều kiện chấp nhận vận chuyển tương
                        ứng. Hành khách là người có công với cách mạng, người khuyết tật, người
                        cao tuổi, phụ nữ có thai và hành khách đi cùng trẻ sơ sinh được ưu tiên
                        phục vụ tại phòng vé, sân bay và trên tàu bay.&nbsp;
                    </li>
                </ul>
                <p>
                    <strong>
                        10. Dịch vụ vận chuyển thú cưng - SKY PET
                    </strong>
                    <a href="https://www.vietjetair.com/vi/pages/sky-pet---thu-cung-oi-bay-thoi-1717385172883"
                       target="_blank" rel="noopener">
                        xem chi tiết tại đây
                    </a>
                </p>
                <p>
                    Dịch vụ vận chuyển thú cưng (chỉ áp dụng cho Chó và Mèo) bay cùng bạn
                    trên các chuyến bay nội địa.
                </p>
                <p>
                    Vui lòng đặt trước 24 tiếng so với giờ khởi hành qua Trung tâm phục vụ
                    khách hàng&nbsp; (+84) 19001886 hoặc các kênh bán vé của Vietjet.&nbsp;
                </p>
                <p>
                    &nbsp;
                </p>
                <p>
                    <strong>
                        11. Dịch vụ hỗ trợ suốt hành trình bay - SKY MATE
                    </strong>
                    <a href="https://www.vietjetair.com/vi/pages/mua-hanh-ly-suat-an-chon-cho-ngoi-va-hon-the-nua-1607076148589/dich-vu-ho-tro-bay-cung-ban-1719195650512"
                       target="_blank" rel="noopener">
                        xem chi tiết tại đây
                    </a>
                </p>
                <p>
                    Dịch vụ hỗ trợ thủ tục cho hành khách tại sân bay; bao gồm đón/tiễn khách
                    tại sân bay, làm thủ tục chuyến bay, thủ tục xuất/nhập cảnh; hướng dẫn
                    chỉ đường đi tại sân bay, tiếp nhận và chuyển trả hành lý cho hành khách
                    tại ga đi, ga đến.
                </p>
                <p>
                    Vui lòng đặt trước 24 tiếng so với giờ khởi hành qua Trung tâm phục vụ
                    khách hàng 19001886 hoặc các kênh bán vé của Vietjet.&nbsp;
                </p>
                <p>
                    &nbsp;
                </p>
            </div>
            <div class="MuiBox-root jss474 jss84">
                <hr class="MuiDivider-root">
                <button aria-label="facebook" class="react-share__ShareButton" style="background-color: transparent; border: none; padding: 0px; font: inherit; color: inherit; cursor: pointer;">
                    <img src="/static/media/social-facebook.8b87db9d.svg" alt="">
                </button>
                <button aria-label="twitter" class="react-share__ShareButton" style="background-color: transparent; border: none; padding: 0px; font: inherit; color: inherit; cursor: pointer;">
                    <img src="/static/media/social-twitter.2013caeb.svg" alt="">
                </button>
            </div>
        </div>
    </div>
</div>
</body>
</html>