<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-12">
    <div class="MuiBox-root jss448 jss80">
        <div class="MuiBox-root jss468">
            <h1 class="MuiTypography-root jss81 jss156 MuiTypography-h1 MuiTypography-colorTextPrimary" customcolor="red">Điều kiện vé</h1>
        </div>
        <div class="MuiBox-root jss473 jss472 jss83">
            <div style="line-height: 1.5;">
                <p><strong>1. Điều kiện cơ bản về loại vé</strong></p>
            </div>
            <p>&nbsp;</p><p><strong>Nhóm 1:</strong></p>
            <ul>
                <li>Các đường bay nội địa Việt Nam.</li>
                <li>Các đường bay thẳng và nối chuyến quốc tế còn lại, ngoại trừ các đường bay Nhóm 2.</li>
            </ul>
            <p><strong>Nhóm 2:</strong></p>
            <ul>
                <li>Các đường bay quốc tế giữa Kazakhstan/ Úc (BNE, MEL, SYD, PER, ADL) và Việt Nam.</li>
                <li>Các đường bay nối chuyến quốc tế từ/ đến Úc (BNE, MEL, SYD, PER, ADL).</li>
            </ul>
            <p><span style="text-decoration: underline;"><span style="color: rgb(7, 88, 250); text-decoration: underline;"><a href="https://www.vietjetair.com/vi/pages/dieu-kien-ve-chang-bay-lien-danh-giua-vietjet-va-lao-airlines-1730099285032" target="_blank" rel="noopener" style="color: rgb(7, 88, 250); text-decoration: underline;">Điều kiện vé chặng bay liên danh Vietjet &amp; Lao Airlines</a></span></span></p>
            <p>&nbsp;</p>
            <div style="line-height: 1.5;">
                <table border="1" width="100%" cellspacing="10" cellpadding="10" style="border-collapse: collapse; border-color: rgba(255, 0, 0, 0.07); border-width: 0px; line-height: 1; height: 1936px;">
                    <thead>
                    <tr bgcolor="#FF0000" style="height: 16px;">
                        <th scope="col" width="10%" style="color: rgb(255, 255, 0); padding: 15px 0px; height: 16px; width: 10.031%;"><span style="font-size: 12px;">Nhóm</span></th>
                        <th scope="col" width="22.5%" style="color: rgb(255, 255, 0); padding: 15px 0px; vertical-align: middle; height: 16px; width: 22.5387%;"><span style="font-size: 12px;">Business</span></th>
                        <th scope="col" width="22.5%" style="color: rgb(255, 255, 0); padding: 15px 0px; height: 16px; width: 22.5387%;"><span style="font-size: 12px;">Skyboss</span></th>
                        <th scope="col" width="22.5%" style="color: rgb(255, 255, 0); padding: 15px 0px; height: 16px; width: 22.5387%;"><span style="font-size: 12px;">Deluxe</span></th>
                        <th scope="col" width="22.5%" style="color: rgb(255, 255, 0); padding: 15px 0px; height: 16px; width: 22.4149%;"><span style="font-size: 12px;">Eco</span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr style="text-align: left; background-color: rgba(255, 0, 0, 0.07); height: 16px;">
                        <th colspan="5" style="height: 16px; width: 100.062%;"><span style="font-size: 12px;">Hành lý xách tay</span></th>
                    </tr>
                    <tr style="height: 16px;">
                        <td align="center" style="padding: 10px 5px; height: 16px; width: 10.031%;"><span style="font-size: 12px;">Nhóm 1</span></td>
                        <td rowspan="2" align="center" style="padding: 10px 5px; height: 32px; width: 22.5387%;"><span style="font-size: 12px;">18 Kg</span></td>
                        <td align="center" style="padding: 10px 5px; height: 16px; width: 22.5387%;"><span style="font-size: 12px;">10kg</span></td>
                        <td colspan="2" align="center" style="padding: 10px 5px; height: 16px; width: 44.9536%;"><span style="font-size: 12px;">07kg</span></td>
                    </tr>
                    <tr style="height: 16px;">
                        <td align="center" style="padding: 10px 5px; height: 16px; width: 10.031%;"><span style="font-size: 12px;">Nhóm 2</span></td>
                        <td align="center" style="padding: 10px 5px; height: 16px; width: 22.5387%;"><span style="font-size: 12px;">14kg</span></td>
                        <td align="center" style="padding: 10px 5px; height: 16px; width: 22.5387%;"><span style="font-size: 12px;">10kg</span></td>
                        <td align="center" style="padding: 10px 5px; height: 16px; width: 22.4149%;"><span style="font-size: 12px;">07kg</span></td>
                    </tr>
                    <tr style="text-align: left; background-color: rgba(255, 0, 0, 0.07); height: 16px;">
                        <th colspan="5" style="height: 16px; width: 100.062%;"><span style="font-size: 12px;">Hành lý ký gửi</span></th>
                    </tr>
                    <tr style="height: 32px;">
                        <td align="center" style="padding: 10px 5px; height: 32px; width: 10.031%;"><span style="font-size: 12px;">Nhóm 1</span></td>
                        <td align="center" style="padding: 10px 5px; height: 32px; width: 22.5387%;"><span style="font-size: 12px;">Miễn phí 40kg và 01 (một) bộ dụng cụ chơi golf (nếu có)</span></td>
                        <td align="center" style="padding: 10px 5px; height: 32px; width: 22.5387%;"><span style="font-size: 12px;">Miễn phí 30kg và 01 (một) bộ dụng cụ chơi golf (nếu có)</span></td>
                        <td align="center" style="padding: 10px 5px; height: 32px; width: 22.5387%;"><span style="font-size: 12px;">Miễn phí 20kg</span></td>
                        <td rowspan="2" align="center" style="padding: 10px 5px; height: 64px; width: 22.4149%;"><span style="font-size: 12px;">Phải mua thêm</span></td>
                    </tr>
                    <tr style="height: 32px;">
                        <td align="center" style="padding: 10px 5px; height: 32px; width: 10.031%;"><span style="font-size: 12px;">Nhóm 2</span></td>
                        <td align="center" style="padding: 10px 5px; height: 32px; width: 22.5387%;"><span style="font-size: 12px;">Miễn phí 60kg hoặc 40kg (tối đa 03 kiện đối với đường bay PER, ADL)&nbsp;và 01 bộ dụng cụ chơi golf (nếu có)<br></span></td>
                        <td align="center" style="padding: 10px 5px; height: 32px; width: 22.5387%;"><span style="font-size: 12px;">Miễn phí 50 Kg hoặc 40kg (tối đa 02 kiện đối với đường bay PER, ADL) và 01 bộ dụng cụ chơi golf (nếu có)<br></span></td>
                        <td align="center" style="padding: 10px 5px; height: 32px; width: 22.5387%;"><span style="font-size: 12px;">Miễn phí 40kg&nbsp;</span><span style="font-size: 12px;">&nbsp;hoặc 20kg (tối đa 01 kiện</span><span style="font-size: 12px;">&nbsp;đối với đường bay PER, ADL)</span></td>
                    </tr>
                    <tr style="text-align: left; background-color: rgba(255, 0, 0, 0.07); height: 16px;">
                        <th colspan="5" style="height: 16px; width: 100.062%;"><span style="font-size: 12px;">Suất ăn</span></th>
                    </tr>
                    <tr style="height: 16px;">
                        <td align="center" style="padding: 10px 5px; height: 16px; width: 10.031%;"><span style="font-size: 12px;">Nhóm 1</span></td>
                        <td colspan="2" rowspan="2" align="center" style="padding: 10px 5px; height: 80px; width: 45.0774%;"><span style="font-size: 12px;">Đã bao gồm</span></td>
                        <td align="center" style="padding: 10px 5px; height: 16px; width: 22.5387%;"><span style="font-size: 12px;">Phải mua thêm</span></td>
                        <td align="center" style="padding: 10px 5px; height: 16px; width: 22.4149%;"><span style="font-size: 12px;">Phải mua thêm</span></td>
                    </tr>
                    <tr style="height: 64px;">
                        <td align="center" style="padding: 10px 5px; height: 64px; width: 10.031%;"><span style="font-size: 12px;">Nhóm 2</span></td>
                        <td align="center" style="padding: 10px 5px; height: 64px; width: 22.5387%;"><span style="font-size: 12px;">01 combo suất ăn và nước</span></td>
                        <td align="center" style="padding: 10px 5px; height: 64px; width: 22.4149%;"><span style="font-size: 12px;"><span style="font-size: 12px;">Phải mua thêm</span><br><span style="font-size: 12px;">(Riêng đường Kazakhstan: Đã bao gồm 1 combo suất ăn và nước)</span><br></span></td>
                    </tr>
                    <tr style="text-align: left; background-color: rgba(255, 0, 0, 0.07); height: 16px;">
                        <th colspan="5" style="height: 16px; width: 100.062%;"><span style="font-size: 12px;">Bộ tiện ích 03 trong 01</span></th>
                    </tr>
                    <tr style="height: 16px;">
                        <td align="center" style="padding: 10px 5px; height: 16px; width: 10.031%;"><span style="font-size: 12px;">Nhóm 1</span></td>
                        <td rowspan="2" align="center" style="padding: 10px 5px; height: 32px; width: 22.5387%;"><span style="font-size: 12px;">Đã bao gồm</span><span style="font-size: 12px;"><br></span></td>
                        <td rowspan="2" style="padding: 10px 5px; width: 22.5387%; text-align: center;"><span style="font-size: 12px;">Không bao gồm</span></td>
                        <td colspan="2" rowspan="2" align="center" style="padding: 10px 5px; height: 32px; width: 44.9536%;"><p><span style="font-size: 12px;"><img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/redclose16x16-1606814400641.png" alt="check" style="width: 13px; height: 13px; margin-bottom: 5px; display: block;">Không áp dụng</span></p></td>
                    </tr>
                    <tr style="height: 16px;">
                        <td align="center" style="padding: 10px 5px; height: 16px; width: 10.031%;"><span style="font-size: 12px;">Nhóm 2</span></td>
                    </tr>
                    <tr style="text-align: left; background-color: rgba(255, 0, 0, 0.07); height: 16px;">
                        <th colspan="5" style="height: 16px; width: 100.062%;"><span style="font-size: 12px;">Chọn ghế</span></th>
                    </tr>
                    <tr style="height: 16px;">
                        <td align="center" style="padding: 10px 5px; height: 16px; width: 10.031%;"><span style="font-size: 12px;">Nhóm 1</span></td>
                        <td colspan="2" rowspan="2" align="center" style="padding: 10px 5px; height: 32px; width: 45.0774%;"><span style="font-size: 12px;">Miễn phí</span></td>
                        <td rowspan="2" align="center" style="padding: 10px 5px; height: 32px; width: 22.5387%;"><span style="font-size: 12px;">Miễn phí (không áp dụng các hàng ghế dành cho SkyBoss)</span></td>
                        <td rowspan="2" align="center" style="padding: 10px 5px; height: 32px; width: 22.4149%;"><span style="font-size: 12px;">Phải mua thêm</span></td>
                    </tr>
                    <tr style="height: 16px;">
                        <td align="center" style="padding: 10px 5px; height: 16px; width: 10.031%;"><span style="font-size: 12px;">Nhóm 2</span></td>
                    </tr>
                    <tr style="text-align: left; background-color: rgba(255, 0, 0, 0.07); height: 16px;">
                        <th colspan="5" style="height: 16px; width: 100.062%;"><span style="font-size: 12px;">Quầy ưu tiên làm thủ tục</span></th>
                    </tr>
                    <tr style="height: 16px;"><td align="center" style="padding: 10px 5px; height: 16px; width: 10.031%;">
                        <span style="font-size: 12px;">Nhóm 1</span></td>
                        <td colspan="2" rowspan="2" align="center" style="padding: 10px 5px; height: 32px; width: 45.0774%;"><span style="font-size: 12px;">Đã bao gồm</span></td>
                        <td colspan="2" rowspan="2" align="center" style="padding: 10px 5px; height: 32px; width: 44.9536%;"><p><span style="font-size: 12px;"><img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/redclose16x16-1606814400641.png" alt="check" style="width: 13px; height: 13px; margin-bottom: 5px; display: block;">Không áp dụng</span></p></td>
                    </tr>
                    <tr style="height: 16px;"><td align="center" style="padding: 10px 5px; height: 16px; width: 10.031%;"><span style="font-size: 12px;">Nhóm 2</span></td>
                    </tr>
                    <tr style="text-align: left; background-color: rgba(255, 0, 0, 0.07); height: 16px;">
                        <th colspan="5" style="height: 16px; width: 100.062%;"><span style="font-size: 12px;">Thay đổi chuyến bay, ngày bay, hành trình</span></th>
                    </tr><tr style="height: 34px;">
                        <td rowspan="2" align="center" style="padding: 10px 5px; height: 162px; width: 10.031%;"><span style="font-size: 12px;">Nhóm 1</span></td>
                        <td colspan="4" align="center" style="padding: 10px 5px; height: 34px; width: 90.031%;"><p><span style="font-size: 12px;"><img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/greensuccess16x16-1606814406304.png" alt="check" style="width: 13px; height: 13px; margin-bottom: 5px; display: block;">Áp dụng</span></p></td>
                    </tr>
                    <tr style="height: 128px;">
                        <td style="padding: 10px 5px; height: 128px; width: 22.5387%;">
                            <ul style="padding-left: 15px;">
                                <li><span style="font-size: 12px;">Miễn Phí thay đổi</span></li>
                                <li><span style="font-size: 12px;">Thu chênh lệch Giá Vé (nếu có)</span></li>
                                <li><span style="font-size: 12px;">Thông báo trước giờ khởi hành dự kiến</span></li>
                            </ul>
                        </td>
                        <td colspan="2" style="padding: 10px 5px; height: 128px; width: 45.0774%;">
                            <ul style="padding-left: 15px;">
                                <li><span style="font-size: 12px;">Miễn Phí thay đổi</span></li>
                                <li><span style="font-size: 12px;">Thu chênh lệch Giá Vé (nếu có)</span></li>
                                <li><span style="font-size: 12px;">Thông báo trước tối thiểu 03 giờ so với giờ khởi hành dự kiến</span></li>
                            </ul>
                        </td>
                        <td style="height: 128px; width: 22.4149%;">
                            <ul style="padding-left: 15px;">
                                <li><span style="font-size: 12px;">Thu Phí thay đổi</span></li>
                                <li><span style="font-size: 12px;">Thu chênh lệch Giá Vé (nếu có)</span></li>
                                <li><span style="font-size: 12px;">Thông báo trước tối thiểu 03 giờ so với giờ khởi hành dự kiến</span></li>
                            </ul>
                        </td>
                    </tr>
                    <tr style="height: 34px;">
                        <td rowspan="2" align="center" style="padding: 10px 5px; height: 162px; width: 10.031%;"><span style="font-size: 12px;">Nhóm 2</span></td>
                        <td colspan="4" align="center" style="padding: 10px 5px; height: 34px; width: 90.031%;"><p><span style="font-size: 12px;"><img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/greensuccess16x16-1606814406304.png" alt="check" style="width: 13px; height: 13px; margin-bottom: 5px; display: block;">Áp dụng</span></p></td>
                    </tr>
                    <tr style="height: 128px;"><td style="padding: 10px 5px; height: 128px; width: 22.5387%;">
                        <ul style="padding-left: 15px;">
                            <li><span style="font-size: 12px;">Miễn Phí thay đổi</span></li>
                            <li><span style="font-size: 12px;">Thu chênh lệch Giá Vé (nếu có)</span></li>
                            <li><span style="font-size: 12px;">Thông báo trước giờ khởi hành dự kiến</span></li>
                        </ul>
                    </td>
                        <td colspan="2" style="padding: 10px 5px; height: 128px; width: 45.0774%;">
                            <ul style="padding-left: 15px;">
                                <li><span style="font-size: 12px;">Miễn Phí thay đổi</span></li>
                                <li><span style="font-size: 12px;">Thu chênh lệch Giá Vé (nếu có)</span></li>
                                <li><span style="font-size: 12px;">Thông báo trước tối thiểu 03 giờ so với giờ khởi hành dự kiến</span></li>
                            </ul>
                        </td>
                        <td style="height: 128px; width: 22.4149%;">
                            <ul style="padding-left: 15px;">
                                <li><span style="font-size: 12px;">Thu Phí thay đổi</span></li>
                                <li><span style="font-size: 12px;">Thu chênh lệch Giá Vé (nếu có)</span></li>
                                <li><span style="font-size: 12px;">Thông báo trước tối thiểu 03 giờ so với giờ khởi hành dự kiến</span></li>
                            </ul>
                        </td>
                    </tr>
                    <tr style="text-align: left; background-color: rgba(255, 0, 0, 0.07); height: 16px;">
                        <th colspan="5" style="height: 16px; width: 100.062%;"><span style="font-size: 12px;">Thay đổi tên Hành khách</span></th>
                    </tr>
                    <tr style="height: 114px;">
                        <td rowspan="2" align="center" style="padding: 10px 5px; height: 242px; width: 10.031%;"><span style="font-size: 12px;">Nhóm 1</span></td>
                        <td colspan="2" align="center" style="padding: 10px 5px; height: 114px; width: 45.0774%;"><p><span style="font-size: 12px;"><img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/greensuccess16x16-1606814406304.png" alt="check" style="width: 13px; height: 13px; margin-bottom: 5px; display: block;">Áp dụng</span></p><p style="text-align: left;"><span style="font-size: 12px;">Thu Phí thay đổi tên và chênh lệch Giá Vé (nếu có)</span></p>
                            <ul style="padding-left: 15px; text-align: left;">
                                <li><span style="font-size: 12px;">Chỉ áp dụng đối với Vé chưa sử dụng</span></li>
                                <li><span style="font-size: 12px;">Phải đổi tên cho toàn bộ hành trình trong Vé</span></li>
                            </ul>
                        </td>
                        <td colspan="2" rowspan="2" align="center" style="padding: 10px 5px; height: 242px; width: 44.9536%;"><p><span style="font-size: 12px;"><img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/redclose16x16-1606814400641.png" alt="check" style="width: 13px; height: 13px; margin-bottom: 5px; display: block;">Không áp dụng</span></p></td>
                    </tr>
                    <tr style="height: 128px;"><td style="padding: 10px 5px; height: 128px; width: 22.5387%;"><p><span style="font-size: 12px;">Chỉ áp dụng đối với Vé mua ban đầu là Business hoặc Vé Business được nâng hạng từ Vé Skyboss, không áp dụng cho các Vé Business được nâng hạng từ các loại Vé khác</span></p></td>
                        <td style="padding: 10px 5px; vertical-align: top; height: 128px; width: 22.5387%;"><p><span style="font-size: 12px;">Chỉ áp dụng cho vé mua ban đầu là Skyboss, không áp dụng cho các vé nâng hạng</span></p></td>
                    </tr>
                    <tr style="height: 114px;"><td rowspan="2" align="center" style="padding: 10px 5px; height: 242px; width: 10.031%;"><span style="font-size: 12px;">Nhóm 2</span></td>
                        <td colspan="2" align="center" style="padding: 10px 5px; height: 114px; width: 45.0774%;"><p><span style="font-size: 12px;"><img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/greensuccess16x16-1606814406304.png" alt="check" style="width: 13px; height: 13px; margin-bottom: 5px; display: block;">Áp dụng</span></p><p style="text-align: left;"><span style="font-size: 12px;">Thu Phí thay đổi tên và chênh lệch Giá Vé (nếu có)</span></p>
                            <ul style="padding-left: 15px; text-align: left;">
                                <li><span style="font-size: 12px;">Chỉ áp dụng đối với Vé chưa sử dụng</span></li>
                                <li><span style="font-size: 12px;">Phải đổi tên cho toàn bộ hành trình trong Vé</span></li>
                            </ul>
                        </td>
                        <td colspan="2" rowspan="2" align="center" style="padding: 10px 5px; height: 242px; width: 44.9536%;"><p><span style="font-size: 12px;"><img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/redclose16x16-1606814400641.png" alt="check" style="width: 13px; height: 13px; margin-bottom: 5px; display: block;">Không áp dụng</span></p></td>
                    </tr>
                    <tr style="height: 128px;"><td style="padding: 10px 5px; height: 128px; width: 22.5387%;"><p><span style="font-size: 12px;">Chỉ áp dụng đối với Vé mua ban đầu là Business hoặc Vé Business được nâng hạng từ Vé Skyboss, không áp dụng cho các Vé Business được nâng hạng từ các loại Vé khác</span></p></td>
                        <td style="padding: 10px 5px; vertical-align: top; height: 128px; width: 22.5387%;"><p><span style="font-size: 12px;">Chỉ áp dụng cho vé mua ban đầu là Skyboss, không áp dụng cho các vé nâng hạng</span></p></td>
                    </tr>
                    <tr style="text-align: left; background-color: rgba(255, 0, 0, 0.07); height: 16px;">
                        <th colspan="5" style="height: 16px; width: 100.062%;"><span style="font-size: 12px;">Nâng hạng loại Vé</span></th>
                    </tr>
                    <tr style="height: 34px;">
                        <td rowspan="2" align="center" style="padding: 10px 5px; height: 98px; width: 10.031%;"><span style="font-size: 12px;">Nhóm 1</span></td>
                        <td rowspan="2" align="center" style="padding: 10px 5px; height: 98px; width: 22.5387%;"><p><span style="font-size: 12px;"><img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/redclose16x16-1606814400641.png" alt="check" style="width: 13px; height: 13px; margin-bottom: 5px; display: block;">Không áp dụng</span></p></td>
                        <td colspan="3" align="center" style="padding: 10px 5px; height: 34px; width: 67.4923%;"><p><span style="font-size: 12px;"><img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/greensuccess16x16-1606814406304.png" alt="check" style="width: 13px; height: 13px; margin-bottom: 5px; display: block;">Áp dụng</span></p></td>
                    </tr>
                    <tr style="height: 64px;"><td colspan="2" style="padding: 10px 5px; height: 64px; width: 45.0774%;"><ul style="padding-left: 15px;">
                        <li><span style="font-size: 12px;">Miễn Phí thay đổi</span></li>
                        <li><span style="font-size: 12px;">Thu chênh lệch Giá Vé</span></li>
                    </ul>
                    </td>
                        <td style="padding: 10px 5px; height: 64px; width: 22.4149%;">
                            <ul style="padding-left: 15px;">
                                <li><span style="font-size: 12px;">Thu Phí thay đổi</span></li>
                                <li><span style="font-size: 12px;">Thu chênh lệch Giá Vé</span></li>
                            </ul>
                        </td>
                    </tr>
                    <tr style="height: 34px;">
                        <td rowspan="2" align="center" style="padding: 10px 5px; height: 98px; width: 10.031%;"><span style="font-size: 12px;">Nhóm 2</span></td>
                        <td rowspan="2" align="center" style="padding: 10px 5px; height: 98px; width: 22.5387%;"><p><span style="font-size: 12px;"><img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/redclose16x16-1606814400641.png" alt="check" style="width: 13px; height: 13px; margin-bottom: 5px; display: block;">Không áp dụng</span></p></td>
                        <td colspan="3" align="center" style="padding: 10px 5px; height: 34px; width: 67.4923%;"><p><span style="font-size: 12px;"><img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/greensuccess16x16-1606814406304.png" alt="check" style="width: 13px; height: 13px; margin-bottom: 5px; display: block;">Áp dụng</span></p></td>
                    </tr>
                    <tr style="height: 64px;"><td colspan="2" style="padding: 10px 5px; height: 64px; width: 45.0774%;">
                        <ul style="padding-left: 15px;">
                            <li><span style="font-size: 12px;">Miễn Phí thay đổi</span></li>
                            <li><span style="font-size: 12px;">Thu chênh lệch Giá Vé</span></li>
                        </ul>
                    </td>
                        <td style="padding: 10px 5px; height: 64px; width: 22.4149%;"><ul style="padding-left: 15px;">
                            <li><span style="font-size: 12px;">Thu Phí thay đổi</span></li>
                            <li><span style="font-size: 12px;">Thu chênh lệch Giá Vé</span></li>
                        </ul>
                        </td>
                    </tr>
                    <tr style="text-align: left; background-color: rgba(255, 0, 0, 0.07); height: 16px;">
                        <th colspan="5" style="height: 16px; width: 100.062%;"><span style="font-size: 12px;">Không đến làm thủ tục chuyến bay</span></th>
                    </tr>
                    <tr style="height: 64px;">
                        <td align="center" style="padding: 10px 5px; height: 64px; width: 10.031%;"><span style="font-size: 12px;">Nhóm 1</span></td>
                        <td colspan="2" rowspan="2" style="padding: 10px 5px; height: 176px; width: 45.0774%;"><span style="font-size: 12px;">Hành khách phải hủy chỗ đã đặt trước 03 giờ so với giờ khởi hành dự kiến ghi trên vé hoặc thông báo hủy chỗ với VietJet qua tổng đài, phòng Vé của Vietjet trễ nhất là 72 giờ sau giờ khởi hành dự kiến của chuyến bay để yêu cầu Hoàn bảo lưu định danh Tiền Vé</span></td>
                        <td colspan="2" style="padding: 10px 5px; height: 64px; width: 44.9536%;">
                            <ul style="padding-left: 15px;">
                                <li><span style="font-size: 12px;">Vé của hành khách sẽ bị hủy</span></li>
                                <li><span style="font-size: 12px;">Toàn bộ Tiền Vé sẽ không được hoàn lại</span></li>
                            </ul>
                        </td>
                    </tr>
                    <tr style="height: 112px;">
                        <td align="center" style="padding: 10px 5px; height: 112px; width: 10.031%;"><span style="font-size: 12px;">Nhóm 2</span></td>
                        <td style="padding: 10px 5px; height: 112px; width: 22.5387%;">
                            <ul style="padding-left: 15px;">
                                <li><span style="font-size: 12px;">Thu phí bỏ chỗ</span></li>
                                <li><span style="font-size: 12px;">Thông báo trước trễ nhất 72 giờ sau giờ khởi hành dự kiến để được hoàn bảo lưu định danh</span></li>
                            </ul>
                        </td>
                        <td style="padding: 10px 5px; height: 112px; width: 22.4149%;">
                            <ul style="padding-left: 15px;">
                                <li><span style="font-size: 12px;">Vé của hành khách sẽ bị hủy</span></li>
                                <li><span style="font-size: 12px;">Toàn bộ Tiền Vé sẽ không được hoàn lại</span></li>
                            </ul>
                        </td>
                    </tr>
                    <tr style="text-align: left; background-color: rgba(255, 0, 0, 0.07); height: 16px;">
                        <th colspan="5" style="height: 16px; width: 100.062%;"><span style="font-size: 12px;">Hoàn bảo lưu định danh Tiền Vé</span></th>
                    </tr>
                    <tr style="padding: 10px 5px; height: 50px;">
                        <td rowspan="2" align="center" style="padding: 10px 5px; height: 146px; width: 10.031%;"><span style="font-size: 12px;">Nhóm 1</span></td>
                        <td colspan="4" align="center" style="padding: 10px 5px; height: 50px; width: 90.031%;"><p><span style="font-size: 12px;"><img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/greensuccess16x16-1606814406304.png" alt="check" style="width: 13px; height: 13px; margin-bottom: 5px; display: block;">Áp dụng</span></p><p><span style="font-size: 12px;">Thu phí hoàn bảo lưu tiền Vé theo Chính sách được công bố</span></p></td>
                    </tr>
                    <tr style="height: 96px;">
                        <td colspan="2" style="padding: 10px 5px; height: 96px; width: 45.0774%;">
                            <ul style="padding-left: 15px;">
                                <li><span style="font-size: 12px;">Bảo lưu Tiền Vé trong vòng tối đa 02 năm kể từ ngày khởi hành của chuyến bay</span></li>
                            </ul>
                        </td>
                        <td colspan="2" style="padding: 10px 5px; height: 96px; width: 44.9536%;">
                            <ul style="padding-left: 15px;">
                                <li><span style="font-size: 12px;">Hành khách phải báo trước ít nhất 24 giờ so với giờ khởi hành chặng bay đầu tiên</span></li>
                                <li><span style="font-size: 12px;">Bảo lưu Tiền Vé trong vòng tối đa 01 năm kể từ ngày khởi hành của chuyến bay</span></li>
                            </ul>
                        </td>
                    </tr>
                    <tr style="padding: 10px 5px; height: 50px;">
                        <td rowspan="2" align="center" style="padding: 10px 5px; height: 146px; width: 10.031%;"><span style="font-size: 12px;">Nhóm 2</span></td>
                        <td colspan="4" align="center" style="padding: 10px 5px; height: 50px; width: 90.031%;"><p><span style="font-size: 12px;"><img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/greensuccess16x16-1606814406304.png" alt="check" style="width: 13px; height: 13px; margin-bottom: 5px; display: block;">Áp dụng</span></p><p><span style="font-size: 12px;">Thu phí hoàn bảo lưu tiền Vé theo Chính sách được công bố</span></p></td>
                    </tr>
                    <tr style="height: 96px;">
                        <td colspan="2" style="padding: 10px 5px; height: 96px; width: 45.0774%;">
                            <ul style="padding-left: 15px;">
                                <li><span style="font-size: 12px;">Bảo lưu Tiền Vé trong vòng tối đa 02 năm kể từ ngày khởi hành của chuyến bay</span></li>
                            </ul>
                        </td>
                        <td colspan="2" style="padding: 10px 5px; height: 96px; width: 44.9536%;">
                            <ul style="padding-left: 15px;">
                                <li><span style="font-size: 12px;">Hành khách phải báo trước ít nhất 24 giờ so với giờ khởi hành chặng bay đầu tiên</span></li>
                                <li><span style="font-size: 12px;">Bảo lưu Tiền Vé trong vòng tối đa 01 năm kể từ ngày khởi hành của chuyến bay</span></li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <p>&nbsp;</p><p><strong>Ghi chú:</strong></p>
            <ul>
                <li>Bất kỳ thay đổi nào liên quan đến vé mà làm phát sinh khoản tiền dư ra thì khoản tiền này sẽ không thể hoàn trả được.</li>
                <li>Đề nghị Quý khách tham khảo Bảng phí và Lệ phí để biết chi tiết về các mức phí áp dụng.</li>
            </ul>
            <p><strong>2. Điều kiện 4 hạng vé</strong></p><p>&nbsp;</p>
            <div style="line-height: 2; margin-bottom: 20px; font-size: 11px;">
                <div class="class_types">
                    <div class="class_eco" style="padding: 20px; border: 1px solid rgb(255, 152, 0); border-radius: 5px; margin-bottom: 10px;">
                        <div class="class_header" style="width: 119px; text-align: center; display: flex; align-items: center; justify-content: center;"><p style="padding-right: 10px;"><img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/eco-1602662665065.png" alt="Eco" width="100%"></p>
                        </div>
                        <div class="class_content" style="flex: 1 1 0%;">
                            <p><strong>Bao gồm:</strong></p>
                            <p style="margin: 0px;"><img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/greensuccess16x16-1606814406304.png" alt="check" style="width: 16px; height: 16px; vertical-align: sub; line-height: 0; margin-right: 5px;">Hành lý xách tay: 07kg.<br><img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/greensuccess16x16-1606814406304.png" alt="check" style="width: 16px; height: 16px; vertical-align: sub; line-height: 0; margin-right: 5px;">Bảo hiểm Sky Care (chỉ áp dụng các chuyến bay Vietjet khai thác), quyền lợi bồi thường khi chuyến bay khởi hành trễ, hành lý ký gửi đến trễ, hư hỏng/ mất mát.</p>
                            <p><strong>Chưa bao gồm:</strong></p>
                            <p style="margin: 0px;"><img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/redclose16x16-1606814400641.png" alt="check" style="width: 16px; height: 16px; vertical-align: sub; line-height: 0; margin-right: 5px;">Hành lý ký gửi (tùy chọn)</p>
                            <p style="margin: 0px;"><img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/redclose16x16-1606814400641.png" alt="check" style="width: 16px; height: 16px; vertical-align: sub; line-height: 0; margin-right: 5px;">Suất ăn</p>
                            <p style="margin: 0px;"><img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/redclose16x16-1606814400641.png" alt="check" style="width: 16px; height: 16px; vertical-align: sub; line-height: 0; margin-right: 5px;">Bộ tiện ích 3 trong 1</p>
                            <p style="margin: 0px;"><img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/redclose16x16-1606814400641.png" alt="check" style="width: 16px; height: 16px; vertical-align: sub; line-height: 0; margin-right: 5px;">Chọn trước chỗ ngồi</p><p style="margin: 0px;"><img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/redclose16x16-1606814400641.png" alt="check" style="width: 16px; height: 16px; vertical-align: sub; line-height: 0; margin-right: 5px;">Thay đổi chuyến bay, ngày bay, hành trình</p><p style="margin: 0px;"><img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/redclose16x16-1606814400641.png" alt="check" style="width: 16px; height: 16px; vertical-align: sub; line-height: 0; margin-right: 5px;">Chênh lệch tiền vé khi thay đổi (nếu có)</p>
                        </div>
                    </div>
                    <div class="class_deluxe" style="padding: 20px; border-radius: 5px; border: 1px solid rgb(179, 13, 208); margin-bottom: 10px;">
                        <div class="class_header" style="width: 120px; text-align: center; display: flex; align-items: center; justify-content: center;">
                            <p style="padding-right: 10px;"><img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/deluxe-1602662665056.png" alt="Deluxe" width="100%"></p>
                        </div>
                        <div class="class_content" style="flex: 1 1 0%;">
                            <p><strong>Bao gồm:</strong></p>
                            <p style="margin: 0px;"><img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/greensuccess16x16-1606814406304.png" alt="check" style="width: 16px; height: 16px; vertical-align: sub; line-height: 0; margin-right: 5px;">Hành lý xách tay: 07kg hoặc 10kg tuỳ vào nhóm đường bay.</p>
                            <p style="margin: 0px;"><img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/greensuccess16x16-1606814406304.png" alt="check" style="width: 16px; height: 16px; vertical-align: sub; line-height: 0; margin-right: 5px;">Hành lý ký gửi: miễn phí 20 Kg hoặc 40kg tuỳ vào nhóm đường bay&nbsp;</p>
                            <p style="margin: 0px;"><img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/greensuccess16x16-1606814406304.png" alt="check" style="width: 16px; height: 16px; vertical-align: sub; line-height: 0; margin-right: 5px;">Suất ăn &amp; nước uống tuỳ vào nhóm đường bay</p>
                            <p style="margin: 0px;"><img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/greensuccess16x16-1606814406304.png" alt="check" style="width: 16px; height: 16px; vertical-align: sub; line-height: 0; margin-right: 5px;">Chọn trước chỗ ngồi yêu thích (khi còn chỗ, không áp dụng các hàng ghế dành cho SkyBoss và Business)</p>
                            <p style="margin: 0px;"><img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/greensuccess16x16-1606814406304.png" alt="check" style="width: 16px; height: 16px; vertical-align: sub; line-height: 0; margin-right: 5px;">Miễn phí thay đổi chuyến bay, ngày bay, hành trình (Thu chênh lệch giá Vé - nếu có)</p><p style="margin: 0px;"><img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/greensuccess16x16-1606814406304.png" alt="check" style="width: 16px; height: 16px; vertical-align: sub; line-height: 0; margin-right: 5px;">Bảo hiểm Sky Care (chỉ áp dụng các chuyến bay Vietjet khai thác), quyền lợi bồi thường khi chuyến bay khởi hành trễ, hành lý ký gửi đến trễ, hư hỏng/ mất mát.</p>
                            <p><strong>Chưa bao gồm:</strong></p>
                            <p style="margin: 0px;"><img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/redclose16x16-1606814400641.png" alt="check" style="width: 16px; height: 16px; vertical-align: sub; line-height: 0; margin-right: 5px;">Bộ tiện ích 3 trong 1</p>
                        </div>
                    </div>
                    <div class="class_skyboss" style="padding: 20px; margin-bottom: 10px; border-radius: 5px; border: 1px solid rgb(255, 227, 142);">
                        <div class="class_header" style="width: 120px; text-align: center; display: flex; align-items: center; justify-content: center;">
                            <p style="padding-right: 10px;"><img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/skyboss-1602662659122.png" alt="Skyboss" width="100%"></p>
                        </div>
                        <div class="class_content" style="flex: 1 1 0%;">
                            <p style="font-size: 11px;"><strong>Bao gồm:</strong></p>
                            <p style="margin: 0px;"><img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/greensuccess16x16-1606814406304.png" alt="check" style="width: 16px; height: 16px; vertical-align: sub; line-height: 0; margin-right: 5px;">Hành lý xách tay: 10kg hoặc 14kg tuỳ vào nhóm đường bay.</p>
                            <p style="margin: 0px;"><img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/greensuccess16x16-1606814406304.png" alt="check" style="width: 16px; height: 16px; vertical-align: sub; line-height: 0; margin-right: 5px;">Hành lý ký gửi: 30kg hoặc 50kg và 01 bộ dụng cụ chơi golf (nếu có) tuỳ vào nhóm đường bay</p>
                            <p style="margin: 0px;"><img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/greensuccess16x16-1606814406304.png" alt="check" style="width: 16px; height: 16px; vertical-align: sub; line-height: 0; margin-right: 5px;">Phòng chờ sang trọng (không áp dụng trên các chuyến bay nội địa Thái Lan và các sân bay có phòng chờ không đạt tiêu chuẩn hoặc đóng cửa trong giờ hoạt động của chuyến bay). Thời gian sử dụng dịch vụ là 03 tiếng trước giờ khởi hành chuyến bay.&nbsp;</p>
                            <p style="margin: 0px;"><img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/greensuccess16x16-1606814406304.png" alt="check" style="width: 16px; height: 16px; vertical-align: sub; line-height: 0; margin-right: 5px;">Ưu tiên làm thủ tục trước chuyến bay</p>
                            <p style="margin: 0px;"><img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/greensuccess16x16-1606814406304.png" alt="check" style="width: 16px; height: 16px; vertical-align: sub; line-height: 0; margin-right: 5px;">Ưu tiên phục vụ hành lý</p>
                            <p style="margin: 0px;"><img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/greensuccess16x16-1606814406304.png" alt="check" style="width: 16px; height: 16px; vertical-align: sub; line-height: 0; margin-right: 5px;">Ưu tiên qua cửa an ninh (tùy theo điều kiện từng sân bay)</p>
                            <p style="margin: 0px;"><img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/greensuccess16x16-1606814406304.png" alt="check" style="width: 16px; height: 16px; vertical-align: sub; line-height: 0; margin-right: 5px;">Phục vụ đưa đón riêng ra tàu bay (áp dụng trường hợp tàu bay đậu bãi; không áp dụng đối với sân bay không cung cấp dịch vụ xe đưa đón riêng)</p>
                            <p style="margin: 0px;"><img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/greensuccess16x16-1606814406304.png" alt="check" style="width: 16px; height: 16px; vertical-align: sub; line-height: 0; margin-right: 5px;">Ưu tiên chọn chỗ ngồi trên tàu bay</p><p style="margin: 0px;"><img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/greensuccess16x16-1606814406304.png" alt="check" style="width: 16px; height: 16px; vertical-align: sub; line-height: 0; margin-right: 5px;">Thưởng thức ẩm thực tươi ngon suốt chuyến bay.</p>
                            <p style="margin: 0px;"><img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/greensuccess16x16-1606814406304.png" alt="check" style="width: 16px; height: 16px; vertical-align: sub; line-height: 0; margin-right: 5px;">Bộ tiện ích 3 trong 1 (áp dụng cho chặng bay có thời gian bay thẳng trên 04 tiếng)</p><p style="margin: 0px;"><img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/greensuccess16x16-1606814406304.png" alt="check" style="width: 16px; height: 16px; vertical-align: sub; line-height: 0; margin-right: 5px;">Hoàn bảo lưu định danh tiền vé trong vòng 02 (hai) năm kể từ ngày khởi hành dự kiến.</p>
                            <p style="margin: 0px;"><img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/greensuccess16x16-1606814406304.png" alt="check" style="width: 16px; height: 16px; vertical-align: sub; line-height: 0; margin-right: 5px;">Bảo hiểm Sky Care (chỉ áp dụng các chuyến bay Vietjet khai thác), quyền lợi bồi thường khi chuyến bay khởi hành trễ, hành lý ký gửi đến trễ, hư hỏng/ mất mát.</p></div></div><div class="class_skyboss" style="padding: 20px; margin-bottom: 10px; border-radius: 5px; border: 1px solid rgb(175, 137, 3);">
                    <div class="class_header" style="width: 120px; text-align: center; display: flex; align-items: center; justify-content: center;">
                        <p style="padding-right: 10px;"><img src="https://vj-prod-website-cms.s3.ap-southeast-1.amazonaws.com/businessnew-1689220127305.svg" alt="Skyboss" width="120px" style="width: 120px;"></p>
                    </div>
                    <div class="class_content" style="flex: 1 1 0%;">
                        <p><strong>Bao gồm:</strong></p>
                        <p style="margin: 0px;"><img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/greensuccess16x16-1606814406304.png" alt="check" style="width: 16px; height: 16px; vertical-align: sub; line-height: 0; margin-right: 5px;">Hành lý xách tay: 18kg.</p>
                        <p style="margin: 0px;"><img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/greensuccess16x16-1606814406304.png" alt="check" style="width: 16px; height: 16px; vertical-align: sub; line-height: 0; margin-right: 5px;">Hành lý ký gửi: Miễn phí 40 Kg hoặc 60 Kg và 01 bộ dụng cụ chơi golf (nếu có) tuỳ vào nhóm đường bay</p>
                        <p style="margin: 0px;"><img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/greensuccess16x16-1606814406304.png" alt="check" style="width: 16px; height: 16px; vertical-align: sub; line-height: 0; margin-right: 5px;">Phòng chờ sang trọng (không áp dụng trên các chuyến bay nội địa Thái Lan và các sân bay có phòng chờ không đạt tiêu chuẩn hoặc đóng cửa trong giờ hoạt động của chuyến bay). Thời gian sử dụng dịch vụ là 03 tiếng trước giờ khởi hành chuyến bay.&nbsp;</p>
                        <p style="margin: 0px;"><img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/greensuccess16x16-1606814406304.png" alt="check" style="width: 16px; height: 16px; vertical-align: sub; line-height: 0; margin-right: 5px;">Ưu tiên làm thủ tục trước chuyến bay</p>
                        <p style="margin: 0px;"><img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/greensuccess16x16-1606814406304.png" alt="check" style="width: 16px; height: 16px; vertical-align: sub; line-height: 0; margin-right: 5px;">Ưu tiên phục vụ hành lý</p>
                        <p style="margin: 0px;"><img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/greensuccess16x16-1606814406304.png" alt="check" style="width: 16px; height: 16px; vertical-align: sub; line-height: 0; margin-right: 5px;">Ưu tiên qua cửa an ninh (tùy theo điều kiện từng sân bay)</p>
                        <p style="margin: 0px;"><img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/greensuccess16x16-1606814406304.png" alt="check" style="width: 16px; height: 16px; vertical-align: sub; line-height: 0; margin-right: 5px;">Phục vụ đưa đón riêng ra tàu bay (áp dụng trường hợp tàu bay đậu bãi; không áp dụng đối với sân bay không cung cấp dịch vụ xe đưa đón riêng)</p><p style="margin: 0px;"><img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/greensuccess16x16-1606814406304.png" alt="check" style="width: 16px; height: 16px; vertical-align: sub; line-height: 0; margin-right: 5px;">Ưu tiên chọn chỗ ngồi trên tàu bay</p>
                        <p style="margin: 0px;"><img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/greensuccess16x16-1606814406304.png" alt="check" style="width: 16px; height: 16px; vertical-align: sub; line-height: 0; margin-right: 5px;">Thưởng thức ẩm thực tươi ngon suốt chuyến bay&nbsp;</p>
                        <p style="margin: 0px;"><img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/greensuccess16x16-1606814406304.png" alt="check" style="width: 16px; height: 16px; vertical-align: sub; line-height: 0; margin-right: 5px;">Bộ tiện ích 6 trong 1 (áp dụng cho chặng bay có thời gian bay thẳng trên 07 tiếng)</p>
                        <p style="margin: 0px;"><img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/greensuccess16x16-1606814406304.png" alt="check" style="width: 16px; height: 16px; vertical-align: sub; line-height: 0; margin-right: 5px;">Hoàn bảo lưu định danh Tiền Vé: 02 năm kể từ ngày khởi hành dự kiến</p>
                        <p style="margin: 0px;"><img src="https://cms-uat.s3.ap-southeast-1.amazonaws.com/greensuccess16x16-1606814406304.png" alt="check" style="width: 16px; height: 16px; vertical-align: sub; line-height: 0; margin-right: 5px;">Bảo hiểm Sky Care (chỉ áp dụng các chuyến bay Vietjet khai thác), quyền lợi bồi thường khi chuyến bay khởi hành trễ, hành lý ký gửi đến trễ, hư hỏng/ mất mát.</p>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="MuiBox-root jss474 jss84">
            <hr class="MuiDivider-root">
            <button aria-label="facebook" class="react-share__ShareButton" style="background-color: transparent; border: none; padding: 0px; font: inherit; color: inherit; cursor: pointer;"><img src="/static/media/social-facebook.8b87db9d.svg" alt=""></button>
            <button aria-label="twitter" class="react-share__ShareButton" style="background-color: transparent; border: none; padding: 0px; font: inherit; color: inherit; cursor: pointer;"><img src="/static/media/social-twitter.2013caeb.svg" alt=""></button>
        </div>
    </div>
</div>
</body>
</html>