<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanh toán</title>
    <link rel="stylesheet" type="text/css" media="all" href="../resources/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../resources/css/header-footer.css">
    <link rel="stylesheet" href="../resources/css/body.css">
    <link rel="stylesheet" type="text/css" media="all" href="../resources/css/reset.css">
    <link rel="stylesheet" type="text/css" media="all" href="../resources/css/style.css">
</head>

<body>
    <header class="header-root text-white py-1" >
        <div class="container">
            <div class="d-flex justify-content-between align-items-center col-12">
                <div class="header-content-left col-3" >
                    <a href="/vi">
                        <img src="../resources/img/logo-white.png" alt="logo" height="50">
                    </a>
                </div>
                <div class="header-content-right col-9 d-flex justify-content-end flex-column align-items-end px-0 ">
    
                    <div class="nav d-flex justify-content-between align-items-center mb-2 px-2">
                        <div class="nav-item d-flex justify-content-between align-items-center">
                            <i class="fa-solid fa-headphones-simple"></i>
                            <a class="nav-link text-white" href="#">Hỗ trợ</a>
                        </div>
                        <div class="nav-item d-flex justify-content-between align-items-center">
                            <i class="fa-solid fa-user" style="color: red">
                            </i><a class="nav-link text-white" href="#">Đăng kí</a>
                        </div>
                        <span style="font-weight: bold; color: #ffffff; margin-left:7px;" >|</span>
                        <div class="nav-item" style="margin-left: 3px;"><a class="nav-link text-white" href="#" >Đăng nhập</a></div>
                        <div class="dropdown">
                            <button class="dropdown-toggle" style="border: solid 1px #fff; border-radius: 3px; background: transparent; color: #ffffff; font-weight: 700;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Tiếng Việt
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">English</a></li>
                                <li><a class="dropdown-item" href="#">France</a></li>
                                <li><a class="dropdown-item" href="#">한국어 (o)</a></li>
                                <li><a class="dropdown-item" href="#">日本語</a></li>
                                <li><a class="dropdown-item" href="#">ภาษาไทย</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="nav-item d-flex justify-content-between align-items-center">
                        <ul class="nav">
                            <li class="nav-item-select"><a class="nav-link text-white" href="#">CHUYẾN BAY CỦA TÔI</a></li>
                            <li class="nav-item-select"><a class="nav-link text-white" href="#">CHECK-IN</a></li>
                            <li class="nav-item-select"><a class="nav-link text-white" href="#">DỊCH VỤ CHUYẾN BAY</a></li>
                            <li class="nav-item-select"><a class="nav-link text-white" href="#">DỊCH VỤ TÀI CHÍNH</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="section py-5">
        <!-- <h1 class="page_title font-weight-bold">クリエイターマイページ</h1> -->
        <div class="mypage_block user_tranfer_history">
            <!--#include virtual="/ssi/creator_nav.html" -->
            <nav class="mypage_nav">
                <ul>
                    <li class="user_info"><a href="#">Thông tin cá nhân</a></li>
                    <li class="user_payment"><a href="payment.html">Thanh toán</a></li>
                    <li class="user_tranfer_history"><a href="tranfer_history.html">Lịch sử giao dịch</a></li>
                    <li class="user_change_password"><a href="#">Đổi mật khẩu</a></li>
                </ul>
            </nav>
            <section class="mypage_content">
                <div class="table_scroll w-100">
                    <table class="table_style">
                        <tbody>
                            <tr>
                                <th>Nơi đi</th>
                                <th>Nơi đến</th>
                                <th>Ngày đặt</th>
                                <th>Ngày bay</th>
                                <th>Giá</th>
                                <th>Tình trạng</th>
                            </tr>
                            <tr>
                                <td>Đà Nẵng</td>
                                <td>Hồ Chí Minh</td>
                                <td>15/05/2025</td>
                                <td>25/05/2025</td>
                                <td>1.500.000</td>
                                <td>
                                    Đã thanh toán
                                </td>
                            </tr>
                            <tr>
                                <td>Hồ Chí Minh</td>
                                <td>Đà Nẵng</td>
                                <td>15/05/2025</td>
                                <td>25/05/2025</td>
                                <td>1.500.000</td>
                                <td>
                                    Đã Hủy
                                </td>
                            </tr>
                            <tr>
                                <td>Đà Nẵng</td>
                                <td>Hồ Chí Minh</td>
                                <td>15/05/2025</td>
                                <td>25/05/2025</td>
                                <td>1.500.000</td>
                                <td>
                                    Chờ thanh toán
                                </td>
                            </tr>
                            <tr>
                                <td>Hà Nội</td>
                                <td>Hồ Chí Minh</td>
                                <td>15/05/2025</td>
                                <td>25/05/2025</td>
                                <td>1.500.000</td>
                                <td>
                                    Chờ thanh toán
                                </td>
                            </tr>
                            <tr>
                                <td>Đà Nẵng</td>
                                <td>Hồ Chí Minh</td>
                                <td>15/05/2025</td>
                                <td>25/05/2025</td>
                                <td>1.500.000</td>
                                <td>
                                    Đã thanh toán
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div><!-- .mypage_block END -->
    </section>
    <footer class="footer-root py-3">
        <div class="container">
            <div class="row d-flex justify-content-between align-items-center">
                <div class="col-3 d-flex justify-content-start flex-column gap-1">
                    <span>Kết nối với Vietjet</span>
                    <div class="social-links d-flex justify-content-start align-items-center gap-1">
                        <div class="icon">
                            <a href="#">
                                <img src="../resources/icon/facebook.png" alt="facebook">
                            </a>
                        </div>
                        <div class="icon">
                            <a href="#">
                                <img src="../resources/icon/instagram.png" alt="instagram">
                            </a>
                        </div>
                        <div class="icon">
                            <a href="#">
                                <img src="../resources/icon/twitter.png" alt="twitter">
                            </a>
                        </div>
                        <div class="icon">
                            <a href="#">
                                <img src="../resources/icon/line.png" alt="line">
                            </a>
                        </div>
                        <div class="icon">
                            <a href="#">
                                <img src="../resources/icon/wechat.png" alt="wechat">
                            </a>
                        </div>
                        <div class="icon">
                            <a href="#">
                                <img src="../resources/icon/zalo.png" alt="zalo">
                            </a>
                        </div>
                        <div class="icon">
                            <a href="#">
                                <img src="../resources/icon/youtube.png" alt="youtube">
                            </a>
                        </div>
                    </div>
                    <div class="info-flight d-flex justify-content-start align-items-center gap-2">
                        <span>Cập nhật thông tin chuyến bay Flightradar</span>
                        <img src="../resources/icon/flight-rada.38e79fd2.png" alt="flightradar">
                    </div>
                </div>
                <div class="col-3 d-flex justify-content-start flex-column gap-2">
                    <div class="d-flex justify-content-start align-items-center gap-1">
                        <img src="../resources/icon/intro.png" alt="logo" style="width: 30px; height: 30px;">
                        <span style="margin-top: 8px;">Hướng dẫn đặt chuyến bay</span>

                    </div>
                    <span>Tải ứng dụng Vietjet Air</span>
                    <div class="d-flex justify-content-start align-items-center gap-2">
                        <img src="../resources/icon/apple%20store.png" alt="ios" style="width: 100px; height: 30px;">
                        <img src="../resources/icon/google%20play.png" alt="android"
                            style="width: 100px; height: 30px;">
                    </div>
                </div>
                <div class="col-3 d-flex justify-content-start gap-2 ">
                    <img src="../resources/icon/pay.png" alt="pay" style="width: 30px; height: 30px;">
                    <span>Hướng dẫn thanh toán</span>
                </div>
                <div class="col-3 d-flex flex-column justify-content-start gap-2">
                    <span style="margin-right: 15px;">CÔNG TY CỔ PHẦN HÀNG KHÔNG VIETJET</span>
                    <span>302/3 Phố Kim Mã, Phường Ngọc Khánh, Quận Ba Đình, TP. Hà Nội, Việt Nam.</span>
                    <img src="../resources/icon/confirm.webp" alt="confirm" style="width: 100px; height: 30px;">
                </div>
            </div>
        </div>
    </footer>
    <script src="../resources/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../resources/plugins/jquery/jquery.min.js"></script>
</body>

</html>